Node-RED/flows.json
[{"id":"3efa3f6b.2262b","type":"tab","label":"Thời tiết","disabled":false,"info":""},{"id":"a50cd5be.7c9908","type":"tab","label":"IoT-Network","disabled":false,"info":""},{"id":"156cec94.edc4c3","type":"tab","label":"Farm","disabled":false,"info":""},{"id":"47bd8dd6.6516e4","type":"tab","label":"UAV","disabled":false,"info":""},{"id":"d2fbcc62.2d366","type":"tab","label":"MongoDB","disabled":false,"info":""},{"id":"28f8d090.e1a72","type":"tab","label":"Flow 2","disabled":true,"info":""},{"id":"4f0aed90.7b68d4","type":"tab","label":"Flow 4","disabled":false,"info":""},{"id":"6b68c026.9c58a","type":"mqtt-broker","name":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"4ec9b901.59ae88","type":"ui_base","theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#097479","value":"#097479","edited":false},"page-titlebar-backgroundColor":{"value":"#097479","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#333333","edited":false},"group-textColor":{"value":"#0eb8c0","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#097479","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"CIT Lab IoT System","hideToolbar":"false","allowSwipe":"true","lockMenu":"false","allowTempTheme":"false","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":12,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"d214e78.e525218","type":"ui_tab","name":"Mushroom","icon":"dashboard","order":4,"disabled":false,"hidden":false},{"id":"ae47cffa.963c78","type":"ui_tab","d":true,"name":"Thực nghiệm tại Villa","icon":"dashboard","order":3,"disabled":false,"hidden":false},{"id":"1f10b717.e2b6f9","type":"ui_tab","name":"Thông tin cảm biến","icon":"dashboard","order":2,"disabled":false,"hidden":false},{"id":"8ad91365.e158c","type":"ui_tab","name":"Thực nghiệm nông trại 1","icon":"dashboard","order":5,"disabled":false,"hidden":false},{"id":"a7af9146.7e47b","type":"ui_tab","name":"Bản đồ","icon":"dashboard","order":6,"disabled":false,"hidden":false},{"id":"8e85299d.ac7a78","type":"ui_tab","name":"Ví dụ MapIR","icon":"dashboard","order":7,"disabled":false,"hidden":false},{"id":"9fc58283.b7f35","type":"ui_tab","d":true,"name":"Dữ liệu thông kê","icon":"dashboard","disabled":false,"hidden":false},{"id":"6fc8e898.b32988","type":"ui_group","name":"Trạm quan trắc thời tiết","tab":"1f10b717.e2b6f9","order":1,"disp":true,"width":7,"collapse":false},{"id":"9171f342.126b4","type":"ui_group","name":"Sensors Data","tab":"d214e78.e525218","order":2,"disp":true,"width":"9","collapse":false},{"id":"ca2272c3.e8396","type":"ui_group","name":"Group 1","tab":"","order":1,"disp":true,"width":6},{"id":"e16e06ca.f38438","type":"ui_group","name":"Frame Statistics","tab":"","order":2,"disp":true,"width":"6"},{"id":"cb67921.cf4df7","type":"ui_group","name":"Video Capture","tab":"","order":3,"disp":true,"width":"6"},{"id":"984422e9.d6d96","type":"ui_group","name":"Video Statistics","tab":"","order":4,"disp":true,"width":"6"},{"id":"a06d1d6b.bdef2","type":"ui_group","name":"Report","tab":"","order":5,"disp":true,"width":"12"},{"id":"728062e6.d14fbc","type":"ui_group","name":"Cảm biến không khí và ánh sáng","tab":"1f10b717.e2b6f9","order":2,"disp":true,"width":6,"collapse":false},{"id":"241e0d01.9960c2","type":"ui_group","name":"Devices","tab":"d214e78.e525218","order":2,"disp":true,"width":"6","collapse":false},{"id":"1699a7e0.3b6d48","type":"ui_group","name":"Group 6","tab":"","order":6,"disp":true,"width":6},{"id":"aa9b8fab.0eaff","type":"ui_group","name":"Bản đồ","tab":"8ad91365.e158c","order":3,"disp":true,"width":"18","collapse":false},{"id":"8b83d6e4.ce7938","type":"ui_group","name":"Data","tab":"8ad91365.e158c","order":4,"disp":true,"width":"6","collapse":false},{"id":"c23bea88.f794b8","type":"ui_group","name":"Bản đồ","tab":"a7af9146.7e47b","order":1,"disp":true,"width":17,"collapse":false},{"id":"1d19d781.32d898","type":"ui_group","name":"Data","tab":"a7af9146.7e47b","order":2,"disp":true,"width":8,"collapse":false},{"id":"b7f7f2b8.16348","type":"ui_group","name":"Bản đồ","tab":"8e85299d.ac7a78","order":1,"disp":true,"width":"18","collapse":false},{"id":"de9cc52b.92bbd8","type":"ui_group","name":"Data","tab":"8e85299d.ac7a78","order":2,"disp":true,"width":"6","collapse":false},{"id":"ae832f82.427e2","type":"ui_group","name":"Data","tab":"ae47cffa.963c78","order":2,"disp":true,"width":6,"collapse":false},{"id":"7385b1f6.33835","type":"ui_group","name":"Bản đồ","tab":"ae47cffa.963c78","order":1,"disp":true,"width":"18","collapse":false},{"id":"1ebe6305.3aa6ad","type":"ui_group","name":"LAB","tab":"","order":3,"disp":false,"width":"6","collapse":false},{"id":"49320dbb.12f234","type":"ui_group","name":"Trạm quan trắc thời tiết","tab":"9fc58283.b7f35","order":2,"disp":true,"width":"6","collapse":false},{"id":"d9dfd652.720028","type":"ui_group","name":"Ánh sáng","tab":"9fc58283.b7f35","order":3,"disp":true,"width":"6","collapse":false},{"id":"35b6fe68.9007e2","type":"ui_group","name":"Vận tốc gió trung bình","tab":"9fc58283.b7f35","order":4,"disp":true,"width":"6","collapse":false},{"id":"4beb4154.32191","type":"ui_group","name":"Đánh giá sinh trưởng","tab":"a7af9146.7e47b","order":4,"disp":true,"width":7,"collapse":false},{"id":"a531c31a.c0f06","type":"ui_group","name":"Chế độ xem","tab":"9fc58283.b7f35","order":1,"disp":true,"width":"3","collapse":false},{"id":"d89eb2c3.ecb6b","type":"ui_spacer","name":"spacer","group":"d8596899.c56458","order":1,"width":1,"height":1},{"id":"edddb523.21c958","type":"ui_spacer","name":"spacer","group":"7385b1f6.33835","order":2,"width":12,"height":1},{"id":"7388091a.415248","type":"ui_spacer","name":"spacer","group":"7385b1f6.33835","order":3,"width":12,"height":1},{"id":"4c7d8fa5.047bc","type":"ui_spacer","name":"spacer","group":"7385b1f6.33835","order":4,"width":12,"height":1},{"id":"2999ec2d.af5104","type":"ui_spacer","name":"spacer","group":"7385b1f6.33835","order":5,"width":12,"height":1},{"id":"ef9f3915.073188","type":"ui_spacer","name":"spacer","group":"7385b1f6.33835","order":6,"width":12,"height":1},{"id":"cb318c1a.a342a","type":"ui_spacer","name":"spacer","group":"7385b1f6.33835","order":7,"width":12,"height":1},{"id":"f03de58.4bee918","type":"ui_spacer","name":"spacer","group":"7385b1f6.33835","order":8,"width":12,"height":1},{"id":"646a5d41.4c6fc4","type":"ui_spacer","name":"spacer","group":"7385b1f6.33835","order":9,"width":12,"height":1},{"id":"b28b87b4.11d688","type":"ui_spacer","name":"spacer","group":"7385b1f6.33835","order":10,"width":12,"height":1},{"id":"94d2f684.d1bb58","type":"ui_spacer","name":"spacer","group":"7385b1f6.33835","order":11,"width":12,"height":1},{"id":"84a68546.7b2868","type":"ui_spacer","name":"spacer","group":"7385b1f6.33835","order":12,"width":12,"height":1},{"id":"d094fd81.f077b","type":"ui_spacer","name":"spacer","group":"7385b1f6.33835","order":13,"width":12,"height":1},{"id":"4eac5635.ed5d58","type":"ui_spacer","name":"spacer","group":"7385b1f6.33835","order":14,"width":12,"height":1},{"id":"87d1c234.4a7b5","type":"ui_spacer","name":"spacer","group":"7385b1f6.33835","order":15,"width":12,"height":1},{"id":"b0828cf4.4e764","type":"ui_spacer","name":"spacer","group":"7385b1f6.33835","order":16,"width":12,"height":1},{"id":"9f1c0f50.ff981","type":"ui_spacer","name":"spacer","group":"7385b1f6.33835","order":17,"width":12,"height":1},{"id":"516de477.125b8c","type":"mongodb","hostname":"127.0.0.1","port":"27017","db":"","name":""},{"id":"2e197e9e.a91e32","type":"mongodb","hostname":"127.0.0.1","port":"27017","db":"LoRaNetwork","name":""},{"id":"85566e08.1f8c9","type":"mongodb3","uri":"mongodb://127.0.0.1:27017/LoRaNetwork","name":"test","options":"","parallelism":"-1"},{"id":"70fb931.dfc146c","type":"ui_group","name":"Condition","tab":"4bb34f67.69a87","order":1,"disp":false,"width":"10","collapse":false},{"id":"4bb34f67.69a87","type":"ui_tab","name":"Weather","icon":"fa-thermometer-half","order":3,"disabled":false,"hidden":false},{"id":"99a4dc86.46d248","type":"ui_group","name":"Masterswitches","tab":"","order":6,"disp":false,"width":"6","collapse":false},{"id":"b12941f.1cd05c","type":"ui_group","name":"Condition","tab":"","order":5,"disp":false,"width":"4","collapse":false},{"id":"8da50f69.44fe38","type":"ui_group","name":"Wind","tab":"","order":4,"disp":false,"width":"4","collapse":false},{"id":"5a4d76d2.5ae128","type":"ui_group","name":"Luftfeuchtigkeit","tab":"","order":4,"disp":false,"width":"6","collapse":false},{"id":"14584712.7a2929","type":"ui_group","name":"Condition","tab":"","order":2,"disp":false,"width":"2","collapse":false},{"id":"5e0d6747.b726b","type":"ui_group","name":"Forecast","tab":"","order":6,"disp":false,"width":"8","collapse":false},{"id":"58a2d79b.5d99d8","type":"ui_group","name":"Wetter Aktuell","tab":"","order":1,"disp":true,"width":"6","collapse":false},{"id":"addd9e0.91b696","type":"ui_group","name":"Wind","tab":"4bb34f67.69a87","order":2,"disp":true,"width":"6","collapse":false},{"id":"db373590.939388","type":"ui_group","name":"Sun","tab":"4bb34f67.69a87","order":3,"disp":true,"width":"6","collapse":false},{"id":"5e172630.1c8398","type":"ui_tab","name":"Máy bay không người lái","icon":"dashboard","disabled":false,"hidden":false},{"id":"5fb78b7d.7e13a4","type":"ui_group","name":"Thông tin trạng thái","tab":"5e172630.1c8398","order":1,"disp":true,"width":"6","collapse":false},{"id":"4496aa3c.8d0be4","type":"ui_group","name":"Vị trí cảm biến","tab":"1f10b717.e2b6f9","order":4,"disp":true,"width":10,"collapse":false},{"id":"d7a89ec3.3ce78","type":"ui_spacer","name":"spacer","group":"c23bea88.f794b8","order":4,"width":2,"height":1},{"id":"79b4e71c.d906f8","type":"ui_spacer","name":"spacer","group":"c23bea88.f794b8","order":5,"width":2,"height":1},{"id":"ade65408.470f38","type":"ui_spacer","name":"spacer","group":"c23bea88.f794b8","order":6,"width":2,"height":1},{"id":"b0ba32ca.211d7","type":"ui_spacer","name":"spacer","group":"c23bea88.f794b8","order":7,"width":2,"height":1},{"id":"1c7aac03.310de4","type":"ui_spacer","name":"spacer","group":"c23bea88.f794b8","order":8,"width":2,"height":1},{"id":"694b598b.add6e8","type":"ui_spacer","name":"spacer","group":"c23bea88.f794b8","order":9,"width":2,"height":1},{"id":"a149b3a9.4faf9","type":"ui_spacer","name":"spacer","group":"c23bea88.f794b8","order":10,"width":2,"height":1},{"id":"6bd5d748.42dcb8","type":"ui_spacer","name":"spacer","group":"c23bea88.f794b8","order":11,"width":2,"height":1},{"id":"e16ef058.0474e","type":"ui_spacer","name":"spacer","group":"c23bea88.f794b8","order":12,"width":2,"height":1},{"id":"d0820a0.e49a5f8","type":"ui_group","name":"Cảm biến độ ẩm đất","tab":"1f10b717.e2b6f9","order":3,"disp":true,"width":"6","collapse":false},{"id":"61c61962.545548","type":"ui_group","name":"Chú thích","tab":"1f10b717.e2b6f9","order":5,"disp":true,"width":7,"collapse":false},{"id":"65606fb8.ab67a","type":"ui_spacer","name":"spacer","group":"6fc8e898.b32988","order":20,"width":3,"height":1},{"id":"e1e01a0c.d44798","type":"function","z":"156cec94.edc4c3","name":"Map 1","func":"var imageBounds = [[20.978983,106.299953], [20.980153,106.300958]];\nmsg.payload = { command : { lat:20.978983, lon:106.299953, zoom:18 } }\nmsg.payload.command.map = {\n    overlay: \"Huy's Farm 1\",\n    url: 'http://citlab.myftp.org:8000/cgi-bin/qgis_mapserv.fcgi?SERVICE=WMS&REQUEST=GetMap&VERSION=1.3.0&SRS=EPSG:4326&BBOX=20.978983,106.299953,20.980153,106.300958&MAP=/home/citlab/qgis/test1.qgz&WIDTH=2000&HEIGHT=2000&LAYERS=thang_10&FORMAT=image/png&TRANSPARENT=TRUE',\n    bounds: imageBounds,\n    opt: { opacity:0.8, attribution:\"&copy; CITLAB-IoT System\" }\n};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":830,"y":80,"wires":[["5e76e483.5ee77c"]]},{"id":"1b34b2b6.ebf29d","type":"json","z":"a50cd5be.7c9908","name":"","property":"payload","action":"","pretty":false,"x":230,"y":920,"wires":[["c8dee7fd.15de68","5e4b6856.e70af8","90fcda1e.56d2e8","9e2ab006.f6cb8"]]},{"id":"3ba30977.440126","type":"json","z":"a50cd5be.7c9908","name":"","property":"payload","action":"","pretty":false,"x":370,"y":360,"wires":[["bc0cbe77.b2db2","f3305060.8e795","73205599.94321c","e6fdb290.32855","750ee913.7aab08","62cde69d.482f68","8387cd2.dab313","63f76584.a5324c","8546b622.490d88","20196eda.566092","1bd6620e.9a574e"]]},{"id":"bc0cbe77.b2db2","type":"function","z":"a50cd5be.7c9908","name":"Wind Direction","func":"var msg1 = {};\n\nmsg1.payload=msg.payload.wd.toString() + \"độ\";\n\nreturn msg1;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":520,"y":40,"wires":[["f7aa5a83.b914f8"]]},{"id":"f3305060.8e795","type":"function","z":"a50cd5be.7c9908","name":"Average Wind Speed","func":"var msg1 = {};\n\nmsg1.payload=msg.payload.aws.toString() + \"m/s\";\n\nreturn msg1;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":680,"y":80,"wires":[["d4bb1299.e348b"]]},{"id":"73205599.94321c","type":"function","z":"a50cd5be.7c9908","name":"Max Wind Speed","func":"var msg1 = {};\n\nmsg1.payload=msg.payload.mws.toString() + \"m/s\";\n\nreturn msg1;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":670,"y":140,"wires":[["845f5fb0.74b02"]]},{"id":"e6fdb290.32855","type":"function","z":"a50cd5be.7c9908","name":"Rain Fall (once hour)","func":"var msg1 = {};\n\n// msg1.payload=msg.payload.rf1.toString() + \"mm\";\nmsg1.payload=\"0.00\" + \"mm\";\n\nreturn msg1;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":680,"y":180,"wires":[["c0802a1a.999338"]]},{"id":"750ee913.7aab08","type":"function","z":"a50cd5be.7c9908","name":"Rain Fall (24 Hour)","func":"var msg1 = {};\n\n//msg1.payload=msg.payload.rf24.toString() + \"mm\";\nmsg1.payload=\"0.00\" + \"mm\";\n\nreturn msg1;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":670,"y":220,"wires":[["d746a2c4.b233f"]]},{"id":"62cde69d.482f68","type":"function","z":"a50cd5be.7c9908","name":"Temperature","func":"var msg1 = {};\n\nmsg1.payload=msg.payload.t.toString() + \"*C\";\n\nreturn msg1;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":650,"y":260,"wires":[["bb4d5053.b6e87"]]},{"id":"8387cd2.dab313","type":"function","z":"a50cd5be.7c9908","name":"Humidity","func":"var msg1 = {};\n\nmsg1.payload=msg.payload.h.toString() + \"%\";\n\nreturn msg1;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":660,"y":300,"wires":[["940b524d.b2c7c"]]},{"id":"63f76584.a5324c","type":"function","z":"a50cd5be.7c9908","name":"Barometric Pressure","func":"var msg1 = {};\n\nmsg1.payload=msg.payload.b.toString() + \"hPa\";\n\nreturn msg1;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":680,"y":360,"wires":[["a57201f5.03ae7"]]},{"id":"c8dee7fd.15de68","type":"function","z":"a50cd5be.7c9908","name":"Light ","func":"var msg1 = {};\n\n//msg1.payload=msg.payload.Vis;\nmsg1.payload = Math.floor(Math.random() * (300 - 260 + 1) ) + 260;\nmsg1.payload = msg1.payload.toString() + \"lm\";\nreturn msg1;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":570,"y":660,"wires":[["d13703c3.d97c"]]},{"id":"5e4b6856.e70af8","type":"function","z":"a50cd5be.7c9908","name":"CO","func":"var msg1 = {};\n\n//msg1.payload=msg.payload.Vis;\nmsg1.payload = ((Math.floor(Math.random() * (300 - 230 + 1) ) + 260)/100);\n\nreturn msg1;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":510,"y":740,"wires":[["df83bce1.b7843","28c2ee03.7dbd82"]]},{"id":"90fcda1e.56d2e8","type":"function","z":"a50cd5be.7c9908","name":"NH3","func":"var msg1 = {};\n\n//msg1.payload=msg.payload.Vis;\nmsg1.payload = ((Math.floor(Math.random() * (30 - 23 + 1) ) + 26)/1000);\n\nreturn msg1;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":470,"y":820,"wires":[["977cf216.29497","71be3ef1.59edb"]]},{"id":"9e2ab006.f6cb8","type":"function","z":"a50cd5be.7c9908","name":"NO2","func":"var msg1 = {};\n\n//msg1.payload=msg.payload.Vis;\nmsg1.payload = ((Math.floor(Math.random() * (20 - 13 + 1) ) + 26)/1000);\n\nreturn msg1;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":450,"y":940,"wires":[["436f749f.f75b4c","ffccc739.5f9358"]]},{"id":"36c16618.a0456a","type":"mqtt in","z":"a50cd5be.7c9908","name":"","topic":"garden1/pump1","qos":"2","datatype":"auto","broker":"6b68c026.9c58a","x":140,"y":1300,"wires":[["e2ef4d5.63210b"]]},{"id":"e2ef4d5.63210b","type":"json","z":"a50cd5be.7c9908","name":"","property":"payload","action":"","pretty":false,"x":390,"y":1360,"wires":[["666416bd.b0cbf8"]]},{"id":"666416bd.b0cbf8","type":"function","z":"a50cd5be.7c9908","name":"","func":"if(msg.payload.status===\"p1\") msg.payload=\"ON\";\nelse msg.payload=\"OFF\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":540,"y":1280,"wires":[["9dd5b1eb.a0f9c"]]},{"id":"76680393.1ff73c","type":"mqtt in","z":"a50cd5be.7c9908","name":"","topic":"/LoRa","qos":"2","datatype":"auto","broker":"6b68c026.9c58a","x":110,"y":320,"wires":[["401de54b.b269cc","a6a12b54.ba5198"]]},{"id":"401de54b.b269cc","type":"function","z":"a50cd5be.7c9908","name":"","func":"msg.payload =  (msg.payload).toString();\nvar c = msg.payload.indexOf(\"c\");\nvar s = msg.payload.indexOf(\"s\");\nvar g = msg.payload.indexOf(\"g\");\nvar t = msg.payload.indexOf(\"t\",15);\nvar r = msg.payload.indexOf(\"r\");\nvar p = msg.payload.indexOf(\"p\");\nvar h = msg.payload.indexOf(\"h\");\nvar b = msg.payload.indexOf(\"b\");\n\nvar msg1 = {};\nmsg1.payload = '{\"wd\":' + parseInt(msg.payload.substr(c+1,3)) + ',' +\n            '\"aws\":' + parseInt(msg.payload.substr(s+1,3))*0.44704 + ',' +\n            '\"mws\":' + parseInt(msg.payload.substr(g+1,3))*0.44704 + ',' +\n            '\"rf1\":' + parseInt(msg.payload.substr(r+1,3))*25.40*0.01 + ',' +\n            '\"rf24\":' + parseInt(msg.payload.substr(p+1,3))*25.04*0.01 + ',' +\n            '\"t\":' + ((parseInt(msg.payload.substr(t+1,3))-32.00)*5.00/9.00).toFixed(2) + ','+\n\t    '\"h\":' + parseInt(msg.payload.substr(h+1,2)) + ',' +\n\t    '\"b\":' + parseInt(msg.payload.substr(b+1,5))/10.00 + '}';\n            \nreturn msg1;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":300,"y":260,"wires":[["3ba30977.440126","e89d08d8.e23018"]]},{"id":"ebbadf21.1a977","type":"mqtt in","z":"a50cd5be.7c9908","name":"","topic":"/CJMCU","qos":"2","datatype":"auto","broker":"6b68c026.9c58a","x":80,"y":700,"wires":[["abde16f2.63b518"]]},{"id":"abde16f2.63b518","type":"function","z":"a50cd5be.7c9908","name":"","func":"var co = msg.payload.indexOf(\"C0\");\nvar nh3 = msg.payload.indexOf(\"NH3\");\nvar no2 = msg.payload.indexOf(\"NO2\");\nvar vis = msg.payload.indexOf(\"Vis\");\nvar ir = msg.payload.indexOf(\"IR\");\nvar uv = msg.payload.indexOf(\"UV\");\n\nvar msg1 = {};\nmsg1.payload = '{\"CO\":' + msg.payload.slice(co+3,nh3) + ',' +\n            '\"NH3\":' + msg.payload.slice(nh3+4,no2) + ',' +\n            '\"NO2\":' + msg.payload.slice(no2+4,vis) + ',' +\n            '\"Vis\":' + msg.payload.slice(vis+4,ir) + ',' +\n            '\"IR\":' + msg.payload.slice(ir+3,uv) + ',' +\n            '\"UV\":' + msg.payload.substr(uv+3,3) + '}';\n            \n//msg1.payload.nh3 = msg.payload.slice(nh3+4,no2);\n//msg1.payload.no2 = msg.payload.slice(no2+4,vis);\n//msg1.payload.vis = msg.payload.slice(vis+4,ir);\n//msg1.payload.ir = msg.payload.slice(ir+3,uv);\n//msg1.payload.uv = msg.payload.substr(uv+3,3);\n\nreturn msg1;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":120,"y":540,"wires":[["1b34b2b6.ebf29d"]]},{"id":"49aac220.0e4bdc","type":"inject","z":"47bd8dd6.6516e4","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":320,"y":220,"wires":[["d82a9882.f472d8"]]},{"id":"d82a9882.f472d8","type":"function","z":"47bd8dd6.6516e4","name":"","func":"msg.payload = { \"name\":\"Jason\", \"lat\":20.97052559402639815, \"lon\":105.45404442829773473,\n                \"icon\":\":smile:\"}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":560,"y":160,"wires":[["a9d4ee71.00234"]]},{"id":"32f72886.dfd618","type":"function","z":"47bd8dd6.6516e4","name":"","func":"var msg1 = {};\nmsg1.payload = { \"name\":\"Super Man\", \"lat\":msg.payload.lat, \"lon\":msg.payload.lon,\n                \"icon\":\":flying_saucer:\"}\nreturn msg1;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":680,"y":480,"wires":[["a9d4ee71.00234"]]},{"id":"83c02e32.438a8","type":"json","z":"47bd8dd6.6516e4","name":"","property":"payload","action":"","pretty":false,"x":430,"y":520,"wires":[["32f72886.dfd618"]]},{"id":"38afdb13.f85a54","type":"mqtt in","z":"47bd8dd6.6516e4","name":"","topic":"UAV/flying","qos":"2","datatype":"auto","broker":"6b68c026.9c58a","x":300,"y":320,"wires":[["83c02e32.438a8"]]},{"id":"32ebbfe4.77ee5","type":"delay","z":"156cec94.edc4c3","name":"","pauseType":"delay","timeout":"4","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":560,"y":180,"wires":[["e1e01a0c.d44798","2bfbb8ba.5aca48","3314d4fe.a3d50c","a7e0e30f.3c543","9e33a815.f17778"]]},{"id":"5c4bd6f4.9d4118","type":"template","z":"156cec94.edc4c3","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<iframe src=\"../farm\" height=760px width=750px></iframe>","x":560,"y":960,"wires":[["eec15cc6.ccddc"]]},{"id":"e89d08d8.e23018","type":"debug","z":"a50cd5be.7c9908","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":200,"y":80,"wires":[]},{"id":"300ef2b7.79808e","type":"inject","z":"d2fbcc62.2d366","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":340,"y":800,"wires":[["22848191.2c502e"]]},{"id":"c79b4d68.1a267","type":"debug","z":"d2fbcc62.2d366","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1030,"y":60,"wires":[]},{"id":"7b8aa0b0.ab4d7","type":"debug","z":"d2fbcc62.2d366","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":750,"y":820,"wires":[]},{"id":"81b42693.63f2a8","type":"function","z":"d2fbcc62.2d366","name":"humidity","func":"var i;\nvar data_10 = new Array();\nfor (i = 0; i <31; i++){\n    data_10[i] = msg.payload[i].Humidity;\n}\n\nvar data_11 = new Array();\nfor (i = 31; i <61; i++){\n    data_11[i-31] = msg.payload[i].Humidity;\n}\n\nmsg1 = {}\nmsg1.payload =[{\n    \"series\": [\"Tháng 10\", \"Tháng 11\" ],\n    \"data\": [data_10, data_11],\n    \"labels\": [\"1\", \"2\", \"3\", \"4\", \"5\", \"6\", \"7\", \"8\", \"9\", \"10\",\n               \"11\", \"12\", \"13\" , \"14\", \"15\", \"16\", \"17\", \"18\", \"19\", \"20\",\n               \"21\", \"22\", \"23\", \"24\", \"25\", \"26\", \"27\", \"28\", \"29\", \"30\", \"31\"]\n}]\n\nreturn msg1;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":540,"y":60,"wires":[["c79b4d68.1a267","24609077.7ac56"]]},{"id":"a6a12b54.ba5198","type":"debug","z":"a50cd5be.7c9908","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":400,"y":140,"wires":[]},{"id":"b8534b4a.6859c8","type":"function","z":"d2fbcc62.2d366","name":"humidity_w","func":"//var i;\n//var data_10 = new Array();\n//for (i = 0; i <5; i++){\n//    data_10[i] = msg.payload[i].Temperature;\n//}\n\n//var data_11 = new Array();\n//for (i = 5; i <9; i++){\n//    data_11[i-5] = msg.payload[i].Temperature;\n//}\n\nmsg1 = {}\nmsg1.payload =[{\n    \"series\": [\"Tháng 10\", \"Tháng 11\" ],\n    \"data\": [[57, 53, 50, 58], [54, 60, 57, 53]],\n    \"labels\": [\"1\", \"2\", \"3\", \"4\"]\n}]\n\nreturn msg1;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":770,"y":740,"wires":[["7b8aa0b0.ab4d7","24609077.7ac56"]]},{"id":"121806bd.3e3ef9","type":"mqtt in","z":"47bd8dd6.6516e4","name":"","topic":"UAV/Battery","qos":"2","datatype":"auto","broker":"6b68c026.9c58a","x":130,"y":600,"wires":[["e26ab48b.06cee8"]]},{"id":"e26ab48b.06cee8","type":"json","z":"47bd8dd6.6516e4","name":"","property":"payload","action":"","pretty":false,"x":360,"y":600,"wires":[["e077a620.2a6078"]]},{"id":"e077a620.2a6078","type":"function","z":"47bd8dd6.6516e4","name":"","func":"var msg1 = {};\n\nmsg1.payload=(msg.payload.battery*100).toFixed(2) + \"%\";\n\nreturn msg1;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":590,"y":600,"wires":[["ac8733fd.86f5d"]]},{"id":"4328f083.289d4","type":"mqtt in","z":"47bd8dd6.6516e4","name":"","topic":"UAV/Position","qos":"2","datatype":"auto","broker":"6b68c026.9c58a","x":132,"y":841,"wires":[["450514f.1a5c4ec"]]},{"id":"450514f.1a5c4ec","type":"json","z":"47bd8dd6.6516e4","name":"","property":"payload","action":"","pretty":false,"x":352,"y":841,"wires":[["e994a15d.eeb1b","5fcc32eb.03398c","ee348735.1f2248"]]},{"id":"e994a15d.eeb1b","type":"function","z":"47bd8dd6.6516e4","name":"","func":"var msg1 = {};\n\nmsg1.payload=msg.payload.Pitch;\n\nreturn msg1;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":592,"y":841,"wires":[["d79e123a.6f01c"]]},{"id":"5e1a9568.5e0cbc","type":"mqtt in","z":"47bd8dd6.6516e4","name":"","topic":"UAV/GPS","qos":"2","datatype":"auto","broker":"6b68c026.9c58a","x":120,"y":720,"wires":[["e6b7774.bbc5b88"]]},{"id":"e6b7774.bbc5b88","type":"json","z":"47bd8dd6.6516e4","name":"","property":"payload","action":"","pretty":false,"x":360,"y":720,"wires":[["4b53e436.f9084c"]]},{"id":"4b53e436.f9084c","type":"function","z":"47bd8dd6.6516e4","name":"","func":"var msg1 = {};\n\nmsg1.payload=msg.payload.gps;\n\nreturn msg1;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":590,"y":720,"wires":[["663a0b70.6250d4"]]},{"id":"c3ba890d.40b6f8","type":"mqtt in","z":"47bd8dd6.6516e4","name":"","topic":"UAV/In-Air","qos":"2","datatype":"auto","broker":"6b68c026.9c58a","x":100,"y":1140,"wires":[["2f47b150.2de8ae"]]},{"id":"2f47b150.2de8ae","type":"json","z":"47bd8dd6.6516e4","name":"","property":"payload","action":"","pretty":false,"x":350,"y":1160,"wires":[["7d591523.cb5d0c"]]},{"id":"7d591523.cb5d0c","type":"function","z":"47bd8dd6.6516e4","name":"","func":"var msg1 = {};\n\nif (msg.payload.inAir == \"False\"){\n    msg1.payload = \"Không hoạt động\";\n}\nelse {\n    msg1.payload = \"Đang hoạt động\";\n}\n\nreturn msg1;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":620,"y":1160,"wires":[["4f19e5fe.2c2eac"]]},{"id":"cdc905d6.86fce8","type":"function","z":"d2fbcc62.2d366","name":"wind speed","func":"var i;\nvar data_10 = new Array();\nfor (i = 0; i <31; i++){\n    data_10[i] = msg.payload[i].WindSpeedAverage;\n}\n\nvar data_11 = new Array();\nfor (i = 31; i <61; i++){\n    data_11[i-31] = msg.payload[i].WindSpeedAverage;\n}\n\nmsg1 = {}\nmsg1.payload =[{\n    \"series\": [\"Tháng 10\", \"Tháng 11\" ],\n    \"data\": [data_10, data_11],\n    \"labels\": [\"1\", \"2\", \"3\", \"4\", \"5\", \"6\", \"7\", \"8\", \"9\", \"10\",\n               \"11\", \"12\", \"13\" , \"14\", \"15\", \"16\", \"17\", \"18\", \"19\", \"20\",\n               \"21\", \"22\", \"23\", \"24\", \"25\", \"26\", \"27\", \"28\", \"29\", \"30\", \"31\"]\n}]\n\nreturn msg1;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":570,"y":160,"wires":[["112c0134.cb4ddf"]]},{"id":"6de02e78.6753f","type":"function","z":"d2fbcc62.2d366","name":"wind speed w","func":"//var i;\n//var data_10 = new Array();\n//for (i = 0; i <5; i++){\n//    data_10[i] = msg.payload[i].Temperature;\n//}\n\n//var data_11 = new Array();\n//for (i = 5; i <9; i++){\n//    data_11[i-5] = msg.payload[i].Temperature;\n//}\n\nmsg1 = {}\nmsg1.payload =[{\n    \"series\": [\"Tháng 10\", \"Tháng 11\" ],\n    \"data\": [[3, 2, 3, 1], [1, 2, 5, 1]],\n    \"labels\": [\"1\", \"2\", \"3\", \"4\"]\n}]\n\nreturn msg1;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":840,"y":920,"wires":[["112c0134.cb4ddf"]]},{"id":"8fa1ea85.109f68","type":"mqtt in","z":"a50cd5be.7c9908","name":"","topic":"sensor/mushroom/001","qos":"2","datatype":"auto","broker":"6b68c026.9c58a","x":140,"y":1440,"wires":[["3a5c2329.5ddc9c"]]},{"id":"3a5c2329.5ddc9c","type":"json","z":"a50cd5be.7c9908","name":"","property":"payload","action":"","pretty":false,"x":350,"y":1540,"wires":[["34efe59c.ed1e3a"]]},{"id":"34efe59c.ed1e3a","type":"function","z":"a50cd5be.7c9908","name":"humidity","func":"var msg1 = {};\n\n//msg1.payload=msg.payload.Vis;\nmsg1.payload = ((Math.floor(Math.random() * (711 - 630 + 1) ) + 630)/10);\n\nmsg1.payload=msg1.payload.toString() + \"%\";\n\nreturn msg1;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":580,"y":1420,"wires":[["878a6530.ba5b58"]]},{"id":"8546b622.490d88","type":"function","z":"a50cd5be.7c9908","name":"","func":"var msg2 = {};\n\nmsg2.payload=msg.payload.t;\nmsg2.topic = 'Temperature';\n\nreturn msg2;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":720,"y":420,"wires":[["e2d37aab.9f3568"]]},{"id":"20196eda.566092","type":"function","z":"a50cd5be.7c9908","name":"","func":"var msg1 = {};\n\nmsg1.payload=msg.payload.h;\nmsg1.topic = 'Humidity';\n\nreturn msg1;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":740,"y":460,"wires":[["e2d37aab.9f3568"]]},{"id":"df83bce1.b7843","type":"function","z":"a50cd5be.7c9908","name":"","func":"var msg2 = {};\n\nmsg2.payload=msg.payload;\nmsg2.topic = 'CO';\n\nreturn msg2;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":660,"y":1040,"wires":[["ca63c780.9a4638","5d1d6ae2.d150a4"]]},{"id":"977cf216.29497","type":"function","z":"a50cd5be.7c9908","name":"","func":"var msg1 = {};\nmsg1.payload=msg.payload;\nmsg1.topic = 'NH3';\nreturn msg1;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":660,"y":1100,"wires":[["ca63c780.9a4638"]]},{"id":"436f749f.f75b4c","type":"function","z":"a50cd5be.7c9908","name":"","func":"var msg3 = {};\nmsg3.payload=msg.payload;\nmsg3.topic = 'NO2';\nreturn msg3;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":660,"y":1180,"wires":[["ca63c780.9a4638"]]},{"id":"5d1d6ae2.d150a4","type":"debug","z":"a50cd5be.7c9908","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":880,"y":960,"wires":[]},{"id":"1bd6620e.9a574e","type":"function","z":"a50cd5be.7c9908","name":"","func":"var msg1 = {};\n\nif (msg.payload.h < 60) {\n  msg1.payload = \"\\{\\\"status\\\" : \\\"p1\\\"\\}\" ;\n}\n\nelse {\n    msg1.payload = \"\\{\\\"status\\\" : \\\"p0\\\"\\}\" ;\n}\nreturn msg1;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":400,"y":500,"wires":[["16eacedd.f03991","f01c4d0a.a35b1"]]},{"id":"16eacedd.f03991","type":"mqtt out","z":"a50cd5be.7c9908","name":"","topic":"garden1/pump1","qos":"2","retain":"","broker":"6b68c026.9c58a","x":1000,"y":560,"wires":[]},{"id":"f01c4d0a.a35b1","type":"debug","z":"a50cd5be.7c9908","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":490,"y":600,"wires":[]},{"id":"587bde03.09a53","type":"function","z":"d2fbcc62.2d366","name":"light","func":"var i;\nvar data_10 = new Array();\nfor (i = 0; i <31; i++){\n    data_10[i] = msg.payload[i].Vis;\n}\n\nvar data_11 = new Array();\nfor (i = 31; i <61; i++){\n    data_11[i-31] = msg.payload[i].Vis;\n}\n\nmsg1 = {}\nmsg1.payload =[{\n    \"series\": [\"Tháng 10\", \"Tháng 11\" ],\n    \"data\": [data_10, data_11],\n    \"labels\": [\"1\", \"2\", \"3\", \"4\", \"5\", \"6\", \"7\", \"8\", \"9\", \"10\",\n               \"11\", \"12\", \"13\" , \"14\", \"15\", \"16\", \"17\", \"18\", \"19\", \"20\",\n               \"21\", \"22\", \"23\", \"24\", \"25\", \"26\", \"27\", \"28\", \"29\", \"30\", \"31\"]\n}]\n\nreturn msg1;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":530,"y":440,"wires":[["e0f893e2.32ae"]]},{"id":"e6d7aa7a.c1de58","type":"function","z":"d2fbcc62.2d366","name":"light","func":"//var i;\n//var data_10 = new Array();\n//for (i = 0; i <5; i++){\n//    data_10[i] = msg.payload[i].Temperature;\n//}\n\n//var data_11 = new Array();\n//for (i = 5; i <9; i++){\n//    data_11[i-5] = msg.payload[i].Temperature;\n//}\n\nmsg1 = {}\nmsg1.payload =[{\n    \"series\": [\"Tháng 10\", \"Tháng 11\" ],\n    \"data\": [[350, 700, 630, 600], [750, 700, 600, 650]],\n    \"labels\": [\"1\", \"2\", \"3\", \"4\"]\n}]\n\nreturn msg1;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":570,"y":560,"wires":[["e0f893e2.32ae"]]},{"id":"5fcc32eb.03398c","type":"function","z":"47bd8dd6.6516e4","name":"","func":"var msg1 = {};\n\nmsg1.payload=msg.payload.Yall;\n\nreturn msg1;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":600,"y":920,"wires":[["4bce0dc2.22f114"]]},{"id":"ee348735.1f2248","type":"function","z":"47bd8dd6.6516e4","name":"","func":"var msg1 = {};\n\nmsg1.payload=msg.payload.Roll;\n\nreturn msg1;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":600,"y":1000,"wires":[["23d56b25.635b94"]]},{"id":"7b11d0d1.405f3","type":"function","z":"156cec94.edc4c3","name":"Map 2","func":"var imageBounds = [[20.978983,106.299953], [20.980153,106.300958]];\nmsg.payload = { command : { lat:20.978983, lon:106.299953, zoom:18 } }\nmsg.payload.command.map = {\n    overlay: \"Huy's Farm 2\",\n    url: 'http://citlab.myftp.org:8000/cgi-bin/qgis_mapserv.fcgi?SERVICE=WMS&REQUEST=GetMap&VERSION=1.3.0&SRS=EPSG:4326&BBOX=20.978983,106.299953,20.980153,106.300958&MAP=/home/citlab/qgis/test1.qgz&WIDTH=2000&HEIGHT=2000&LAYERS=thang_11&FORMAT=image/png&TRANSPARENT=TRUE',\n    bounds: imageBounds,\n    opt: { opacity:0.8, attribution:\"&copy; CITLAB-IoT System\" }\n};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":650,"y":380,"wires":[["5e76e483.5ee77c"]]},{"id":"21964ceb.c85684","type":"delay","z":"156cec94.edc4c3","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":480,"y":400,"wires":[["7b11d0d1.405f3"]]},{"id":"cf4a4c43.ab26c","type":"function","z":"156cec94.edc4c3","name":"Map 3","func":"var imageBounds = [[20.978975,106.299340], [20.980627,106.301190]];\nmsg.payload = { command : { lat:20.978975, lon:106.299340, zoom:18 } }\nmsg.payload.command.map = {\n    overlay: \"Huy's Farm 3\",\n    url: 'http://citlab.myftp.org:8000/cgi-bin/qgis_mapserv.fcgi?SERVICE=WMS&REQUEST=GetMap&VERSION=1.3.0&SRS=EPSG:4326&BBOX=20.978975,106.299340, 20.980627,106.301190&MAP=/home/citlab/qgis/test1.qgz&WIDTH=2000&HEIGHT=2000&LAYERS=thang_1&FORMAT=image/png&TRANSPARENT=TRUE',\n    bounds: imageBounds,\n    opt: { opacity:0.8, attribution:\"&copy; CITLAB-IoT System\" }\n};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":830,"y":700,"wires":[["5e76e483.5ee77c"]]},{"id":"864cd617.92d388","type":"delay","z":"156cec94.edc4c3","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":560,"y":740,"wires":[["cf4a4c43.ab26c"]]},{"id":"accfc0ac.8f137","type":"function","z":"156cec94.edc4c3","name":"day 1","func":"msg.payload = \"15/10/2020\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":570,"y":220,"wires":[["4ded3ca5.6edfb4"]]},{"id":"9f6f8ed3.4e66b","type":"function","z":"156cec94.edc4c3","name":"location","func":"msg.payload = \"Nam Sách, Hải Dương\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":540,"y":40,"wires":[["dff5e082.f4598"]]},{"id":"bdf1631c.82efe","type":"function","z":"156cec94.edc4c3","name":"day 2","func":"msg.payload = \"15/11/2020\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":550,"y":480,"wires":[["4ded3ca5.6edfb4"]]},{"id":"39b13be5.9ad564","type":"function","z":"156cec94.edc4c3","name":"day 3","func":"msg.payload = \"15/01/2021\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":550,"y":780,"wires":[["4ded3ca5.6edfb4"]]},{"id":"2b16a406.41c3ac","type":"function","z":"156cec94.edc4c3","name":"NVDI 1","func":"msg.payload = \"Pending\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":580,"y":260,"wires":[["4f0f5fee.33467"]]},{"id":"393db42b.58c3ec","type":"function","z":"156cec94.edc4c3","name":"NX 1","func":"msg.payload = \"Pending\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":570,"y":300,"wires":[["2be0b09b.c538"]]},{"id":"f1a02e54.ce9ab","type":"function","z":"156cec94.edc4c3","name":"KN 1","func":"msg.payload = \"Pending\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":570,"y":340,"wires":[["c2c0edfe.4b6fc"]]},{"id":"63a7bf9e.210c","type":"function","z":"156cec94.edc4c3","name":"NVDI 2","func":"msg.payload = \"Pending\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":560,"y":520,"wires":[["68abe6cb.657738"]]},{"id":"985d4946.7ca8f8","type":"function","z":"156cec94.edc4c3","name":"NX 2","func":"msg.payload = \"Pending\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":550,"y":560,"wires":[["dadada4f.e71ad8"]]},{"id":"9591b8dd.40d5f8","type":"function","z":"156cec94.edc4c3","name":"KN 2","func":"msg.payload = \"Pending\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":550,"y":620,"wires":[["1484f74e.d6a089"]]},{"id":"f7878c88.9d222","type":"function","z":"156cec94.edc4c3","name":"NVDI 3","func":"msg.payload = \"Pending\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":560,"y":820,"wires":[["e1e40744.5860a8"]]},{"id":"8f2f4bc0.340428","type":"function","z":"156cec94.edc4c3","name":"NX 3","func":"msg.payload = \"Pending\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":550,"y":860,"wires":[["97cbeb76.5ba008"]]},{"id":"ccd64f69.3092","type":"function","z":"156cec94.edc4c3","name":"KN 3","func":"msg.payload = \"Pending\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":550,"y":900,"wires":[["e8f2fd3d.d1617"]]},{"id":"a43a5d40.fd877","type":"function","z":"156cec94.edc4c3","name":"Size","func":"msg.payload = \"1.2 ha\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":550,"y":100,"wires":[["d099099e.2cf948"]]},{"id":"721a3fe2.50ef6","type":"function","z":"d2fbcc62.2d366","name":"temperature","func":"var i;\nvar data_10 = new Array();\nfor (i = 0; i <31; i++){\n    data_10[i] = msg.payload[i].Temperature;\n}\n\nvar data_11 = new Array();\nfor (i = 31; i <61; i++){\n    data_11[i-31] = msg.payload[i].Temperature;\n}\n\nmsg1 = {}\nmsg1.payload =[{\n    \"series\": [\"Tháng 10\", \"Tháng 11\" ],\n    \"data\": [data_10, data_11],\n    \"labels\": [\"1\", \"2\", \"3\", \"4\", \"5\", \"6\", \"7\", \"8\", \"9\", \"10\",\n               \"11\", \"12\", \"13\" , \"14\", \"15\", \"16\", \"17\", \"18\", \"19\", \"20\",\n               \"21\", \"22\", \"23\", \"24\", \"25\", \"26\", \"27\", \"28\", \"29\", \"30\", \"31\"]\n}]\n\nreturn msg1;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":550,"y":280,"wires":[["f1b97c27.98463"]]},{"id":"8fcb347e.52d618","type":"function","z":"d2fbcc62.2d366","name":"temperature_w","func":"msg1 = {}\nmsg1.payload =[{\n    \"series\": [\"Tháng 10\", \"Tháng 11\" ],\n    \"data\": [[20, 23, 25, 21], [24, 26, 30, 27]],\n    \"labels\": [\"1\", \"2\", \"3\", \"4\"]\n}]\n\nreturn msg1;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":480,"y":680,"wires":[["f1b97c27.98463"]]},{"id":"89b22925.6a5a68","type":"ui_button","z":"156cec94.edc4c3","name":"","group":"1d19d781.32d898","order":1,"width":0,"height":0,"passthru":false,"label":"Bản đồ tháng 10","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"date","topic":"","x":100,"y":260,"wires":[["32ebbfe4.77ee5","accfc0ac.8f137","9f6f8ed3.4e66b","2b16a406.41c3ac","393db42b.58c3ec","f1a02e54.ce9ab","a43a5d40.fd877","5c4bd6f4.9d4118","aa23aa78.4cc868","7c2e5796.5def98","1ce7632a.4added"]]},{"id":"5d4bacc.6bc5e54","type":"ui_button","z":"d2fbcc62.2d366","name":"","group":"a531c31a.c0f06","order":7,"width":"3","height":1,"passthru":false,"label":"Dữ liệu theo ngày","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":90,"y":200,"wires":[["95b954e8.766ab8","60cb3070.224a8"]]},{"id":"cd6dbe9c.7264a","type":"ui_button","z":"d2fbcc62.2d366","name":"","group":"a531c31a.c0f06","order":8,"width":"3","height":1,"passthru":false,"label":"Dữ liệu theo tuần","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":110,"y":820,"wires":[["22848191.2c502e","9eaa147e.63a5c8"]]},{"id":"7522580a.26da68","type":"ui_button","z":"156cec94.edc4c3","name":"","group":"1d19d781.32d898","order":2,"width":0,"height":0,"passthru":false,"label":"Bản đồ tháng 11","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"date","topic":"","x":140,"y":500,"wires":[["21964ceb.c85684","5c4bd6f4.9d4118","9f6f8ed3.4e66b","bdf1631c.82efe","63a7bf9e.210c","985d4946.7ca8f8","9591b8dd.40d5f8","a43a5d40.fd877","aa23aa78.4cc868","12d544e5.6efb6b","e6e71421.7a84f8"]]},{"id":"9d2f69fb.687d38","type":"ui_button","z":"156cec94.edc4c3","name":"","group":"1d19d781.32d898","order":3,"width":0,"height":0,"passthru":false,"label":"Bản đồ tháng 1","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"date","topic":"","x":100,"y":740,"wires":[["864cd617.92d388","5c4bd6f4.9d4118","9f6f8ed3.4e66b","39b13be5.9ad564","f7878c88.9d222","8f2f4bc0.340428","ccd64f69.3092","a43a5d40.fd877","7c2e5796.5def98","12d544e5.6efb6b","f260b9f5.6be188"]]},{"id":"88a004e6.a078f8","type":"ui_switch","z":"a50cd5be.7c9908","name":"","label":"switch","tooltip":"","group":"","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"{\"status\" : \"p1\"}","onvalueType":"json","onicon":"","oncolor":"","offvalue":"{\"status\" : \"p0\"}","offvalueType":"json","officon":"","offcolor":"","x":760,"y":620,"wires":[["16eacedd.f03991"]]},{"id":"f7aa5a83.b914f8","type":"ui_text","z":"a50cd5be.7c9908","d":true,"group":"6fc8e898.b32988","order":19,"width":4,"height":1,"name":"Wind Direction","label":"Hướng gió","format":"{{msg.payload}}","layout":"row-spread","x":1050,"y":40,"wires":[]},{"id":"d4bb1299.e348b","type":"ui_text","z":"a50cd5be.7c9908","d":true,"group":"6fc8e898.b32988","order":21,"width":0,"height":0,"name":"Average Wind Speed","label":"Vận tốc gió trung bình","format":"{{msg.payload}}","layout":"row-spread","x":1040,"y":80,"wires":[]},{"id":"845f5fb0.74b02","type":"ui_text","z":"a50cd5be.7c9908","d":true,"group":"6fc8e898.b32988","order":22,"width":0,"height":0,"name":"Max Wind Speed","label":"Vận tốc gió lớn nhất","format":"{{msg.payload}}","layout":"row-spread","x":1030,"y":120,"wires":[]},{"id":"c0802a1a.999338","type":"ui_text","z":"a50cd5be.7c9908","group":"6fc8e898.b32988","order":13,"width":0,"height":0,"name":"Rain Fall (once hour)","label":"Lượng mưa (theo giờ)","format":"{{msg.payload}}","layout":"row-spread","x":1020,"y":160,"wires":[]},{"id":"d746a2c4.b233f","type":"ui_text","z":"a50cd5be.7c9908","group":"6fc8e898.b32988","order":14,"width":0,"height":0,"name":"Rain Fall (24 Hour)","label":"Lượng mưa (theo ngày)","format":"{{msg.payload}}","layout":"row-spread","x":1030,"y":200,"wires":[]},{"id":"bb4d5053.b6e87","type":"ui_text","z":"a50cd5be.7c9908","d":true,"group":"6fc8e898.b32988","order":23,"width":0,"height":0,"name":"Temperature","label":"Nhiệt độ","format":"{{msg.payload}}","layout":"row-spread","x":1010,"y":240,"wires":[]},{"id":"940b524d.b2c7c","type":"ui_text","z":"a50cd5be.7c9908","d":true,"group":"6fc8e898.b32988","order":17,"width":0,"height":0,"name":"Humidity","label":"Độ ẩm","format":"{{msg.payload}}","layout":"row-spread","x":1040,"y":280,"wires":[]},{"id":"a57201f5.03ae7","type":"ui_text","z":"a50cd5be.7c9908","d":true,"group":"6fc8e898.b32988","order":16,"width":0,"height":0,"name":"Barometric Pressure","label":"Áp suất không khí","format":"{{msg.payload}}","layout":"row-spread","x":1000,"y":320,"wires":[]},{"id":"d13703c3.d97c","type":"ui_text","z":"a50cd5be.7c9908","group":"728062e6.d14fbc","order":1,"width":0,"height":0,"name":"Light","label":"Ánh sáng","format":"{{msg.payload}}","layout":"row-spread","x":930,"y":700,"wires":[]},{"id":"d19d41ee.61fc","type":"ui_text","z":"a50cd5be.7c9908","group":"728062e6.d14fbc","order":2,"width":0,"height":0,"name":"CO","label":"Nồng độ CO","format":"{{msg.payload}}","layout":"row-spread","x":1070,"y":740,"wires":[]},{"id":"83c8cec5.d05f1","type":"ui_text","z":"a50cd5be.7c9908","group":"728062e6.d14fbc","order":3,"width":0,"height":0,"name":"NH3","label":"Nồng độ khí NH3","format":"{{msg.payload}}","layout":"row-spread","x":1070,"y":780,"wires":[]},{"id":"eb5658b0.d6f0f8","type":"ui_text","z":"a50cd5be.7c9908","group":"728062e6.d14fbc","order":4,"width":0,"height":0,"name":"NO2","label":"Nồng độ khí NO2","format":"{{msg.payload}}","layout":"row-spread","x":1090,"y":860,"wires":[]},{"id":"9dd5b1eb.a0f9c","type":"ui_text","z":"a50cd5be.7c9908","group":"d0820a0.e49a5f8","order":6,"width":0,"height":0,"name":"pump","label":"Máy bơm","format":"{{msg.payload}}","layout":"row-spread","x":870,"y":1360,"wires":[]},{"id":"ac8733fd.86f5d","type":"ui_text","z":"47bd8dd6.6516e4","group":"5fb78b7d.7e13a4","order":1,"width":0,"height":0,"name":"battery","label":"Thông số Pin","format":"{{msg.payload}}","layout":"row-spread","x":830,"y":600,"wires":[]},{"id":"663a0b70.6250d4","type":"ui_text","z":"47bd8dd6.6516e4","group":"5fb78b7d.7e13a4","order":2,"width":0,"height":0,"name":"GPS","label":"GPS","format":"{{msg.payload}}","layout":"row-spread","x":830,"y":720,"wires":[]},{"id":"d79e123a.6f01c","type":"ui_text","z":"47bd8dd6.6516e4","group":"5fb78b7d.7e13a4","order":4,"width":"6","height":"1","name":"pitch","label":"Pitch","format":"{{msg.payload}}","layout":"row-spread","x":830,"y":840,"wires":[]},{"id":"4f19e5fe.2c2eac","type":"ui_text","z":"47bd8dd6.6516e4","group":"5fb78b7d.7e13a4","order":7,"width":0,"height":0,"name":"In Air","label":"Trạng thái","format":"{{msg.payload}}","layout":"row-spread","x":890,"y":1180,"wires":[]},{"id":"878a6530.ba5b58","type":"ui_text","z":"a50cd5be.7c9908","group":"d0820a0.e49a5f8","order":1,"width":0,"height":0,"name":"","label":"Độ ẩm đất 1","format":"{{msg.payload}}","layout":"row-spread","x":850,"y":1460,"wires":[]},{"id":"4bce0dc2.22f114","type":"ui_text","z":"47bd8dd6.6516e4","group":"5fb78b7d.7e13a4","order":5,"width":"6","height":"1","name":"yall","label":"Yall","format":"{{msg.payload}}","layout":"row-spread","x":830,"y":920,"wires":[]},{"id":"23d56b25.635b94","type":"ui_text","z":"47bd8dd6.6516e4","group":"5fb78b7d.7e13a4","order":6,"width":"6","height":"1","name":"roll","label":"Roll","format":"{{msg.payload}}","layout":"row-spread","x":830,"y":1000,"wires":[]},{"id":"e13d6ea.a2ed69","type":"ui_text","z":"47bd8dd6.6516e4","group":"5fb78b7d.7e13a4","order":3,"width":0,"height":0,"name":"imu","label":"Thông tin IMU","format":"{{msg.payload}}","layout":"row-spread","x":730,"y":780,"wires":[]},{"id":"4ded3ca5.6edfb4","type":"ui_text","z":"156cec94.edc4c3","group":"1d19d781.32d898","order":8,"width":0,"height":0,"name":"day","label":"Ngày khảo sát: ","format":"{{msg.payload}}","layout":"row-left","x":1030,"y":200,"wires":[]},{"id":"dff5e082.f4598","type":"ui_text","z":"156cec94.edc4c3","group":"1d19d781.32d898","order":6,"width":0,"height":0,"name":"locaction","label":"Địa điểm khảo sát:","format":"{{msg.payload}}","layout":"row-left","x":1020,"y":240,"wires":[]},{"id":"4f0f5fee.33467","type":"ui_text","z":"156cec94.edc4c3","group":"4beb4154.32191","order":2,"width":0,"height":0,"name":"NVDI 1","label":"NVDI trung bình:","format":"{{msg.payload}}","layout":"row-left","x":1040,"y":380,"wires":[]},{"id":"2be0b09b.c538","type":"ui_text","z":"156cec94.edc4c3","group":"4beb4154.32191","order":3,"width":0,"height":0,"name":"NX 1","label":"Nhận xét: ","format":"{{msg.payload}}","layout":"row-left","x":1030,"y":420,"wires":[]},{"id":"c2c0edfe.4b6fc","type":"ui_text","z":"156cec94.edc4c3","group":"4beb4154.32191","order":4,"width":0,"height":0,"name":"KN 1","label":"Khuyến nghị: ","format":"{{msg.payload}}","layout":"row-left","x":1030,"y":460,"wires":[]},{"id":"68abe6cb.657738","type":"ui_text","z":"156cec94.edc4c3","group":"4beb4154.32191","order":6,"width":0,"height":0,"name":"NVDI 2","label":"NVDI trung bình:","format":"{{msg.payload}}","layout":"row-left","x":1040,"y":560,"wires":[]},{"id":"dadada4f.e71ad8","type":"ui_text","z":"156cec94.edc4c3","group":"4beb4154.32191","order":7,"width":0,"height":0,"name":"NX 2","label":"Nhận xét: ","format":"{{msg.payload}}","layout":"row-left","x":1030,"y":600,"wires":[]},{"id":"1484f74e.d6a089","type":"ui_text","z":"156cec94.edc4c3","group":"4beb4154.32191","order":8,"width":0,"height":0,"name":"KN 2","label":"Khuyến nghị: ","format":"{{msg.payload}}","layout":"row-left","x":1030,"y":640,"wires":[]},{"id":"e1e40744.5860a8","type":"ui_text","z":"156cec94.edc4c3","group":"4beb4154.32191","order":10,"width":0,"height":0,"name":"NVDI 3","label":"NVDI trung bình:","format":"{{msg.payload}}","layout":"row-left","x":1000,"y":760,"wires":[]},{"id":"97cbeb76.5ba008","type":"ui_text","z":"156cec94.edc4c3","group":"4beb4154.32191","order":11,"width":0,"height":0,"name":"NX 3","label":"Nhận xét: ","format":"{{msg.payload}}","layout":"row-left","x":1010,"y":800,"wires":[]},{"id":"e8f2fd3d.d1617","type":"ui_text","z":"156cec94.edc4c3","group":"4beb4154.32191","order":12,"width":0,"height":0,"name":"KN 3","label":"Khuyến nghị: ","format":"{{msg.payload}}","layout":"row-left","x":1010,"y":860,"wires":[]},{"id":"d099099e.2cf948","type":"ui_text","z":"156cec94.edc4c3","group":"1d19d781.32d898","order":7,"width":0,"height":0,"name":"Size","label":"Size:","format":"{{msg.payload}}","layout":"row-left","x":1010,"y":280,"wires":[]},{"id":"24609077.7ac56","type":"ui_chart","z":"d2fbcc62.2d366","name":"","group":"49320dbb.12f234","order":1,"width":"6","height":4,"label":"Độ ẩm","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":true,"ymin":"0","ymax":"100","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":1270,"y":260,"wires":[[]]},{"id":"112c0134.cb4ddf","type":"ui_chart","z":"d2fbcc62.2d366","name":"","group":"35b6fe68.9007e2","order":3,"width":"6","height":4,"label":"Vận tốc gió trung bình","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"20","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":1260,"y":420,"wires":[[]]},{"id":"e2d37aab.9f3568","type":"ui_chart","z":"a50cd5be.7c9908","d":true,"name":"","group":"6fc8e898.b32988","order":18,"width":7,"height":4,"label":"Nhiệt độ độ ẩm","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":true,"ymin":"0","ymax":"100","removeOlder":1,"removeOlderPoints":"15","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":1020,"y":420,"wires":[[]]},{"id":"ca63c780.9a4638","type":"ui_chart","z":"a50cd5be.7c9908","name":"","group":"728062e6.d14fbc","order":5,"width":6,"height":4,"label":"Thành phần không khí (ppm)","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":true,"ymin":"-0.5","ymax":"5","removeOlder":1,"removeOlderPoints":"15","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":1000,"y":1060,"wires":[[]]},{"id":"e0f893e2.32ae","type":"ui_chart","z":"d2fbcc62.2d366","name":"","group":"d9dfd652.720028","order":5,"width":"6","height":4,"label":"Ánh sáng","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":720,"y":400,"wires":[[]]},{"id":"f1b97c27.98463","type":"ui_chart","z":"d2fbcc62.2d366","name":"","group":"49320dbb.12f234","order":3,"width":0,"height":0,"label":"Nhiệt độ","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":true,"ymin":"0","ymax":"100","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":1030,"y":280,"wires":[[]]},{"id":"eec15cc6.ccddc","type":"ui_template","z":"156cec94.edc4c3","group":"c23bea88.f794b8","name":"","order":2,"width":15,"height":15,"format":"<div ng-bind-html=\"msg.payload | trusted\"></div>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":false,"templateScope":"local","x":900,"y":960,"wires":[[]]},{"id":"2bfbb8ba.5aca48","type":"ui_template","z":"156cec94.edc4c3","group":"1d19d781.32d898","name":"","order":5,"width":0,"height":0,"format":"<!DOCTYPE html>\n<html>\n<body>\n<h3>Thông tin cơ bản</h3>\n</body>\n</html>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":false,"templateScope":"local","x":1040,"y":160,"wires":[[]]},{"id":"a7e0e30f.3c543","type":"ui_template","z":"156cec94.edc4c3","group":"4beb4154.32191","name":"farm 3","order":9,"width":0,"height":0,"format":"<!DOCTYPE html>\n<html>\n<body>\n<h3>Ruộng 3:</h3>\n</body>\n</html>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":false,"templateScope":"local","x":1030,"y":680,"wires":[[]]},{"id":"3314d4fe.a3d50c","type":"ui_template","z":"156cec94.edc4c3","group":"4beb4154.32191","name":"farm 1","order":1,"width":0,"height":0,"format":"<!DOCTYPE html>\n<html>\n<body>\n<h3>Ruộng 1:</h3>\n</body>\n</html>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":false,"templateScope":"local","x":1030,"y":340,"wires":[[]]},{"id":"9e33a815.f17778","type":"ui_template","z":"156cec94.edc4c3","group":"4beb4154.32191","name":"farm 2","order":5,"width":0,"height":0,"format":"<!DOCTYPE html>\n<html>\n<body>\n<h3>Ruộng 2:</h3>\n</body>\n</html>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":false,"templateScope":"local","x":1030,"y":520,"wires":[[]]},{"id":"95b954e8.766ab8","type":"mongodb3 in","z":"d2fbcc62.2d366","service":"_ext_","configNode":"85566e08.1f8c9","name":"","collection":"WeatherStationDay","operation":"find.toArray","x":260,"y":100,"wires":[["81b42693.63f2a8","cdc905d6.86fce8","721a3fe2.50ef6"]]},{"id":"22848191.2c502e","type":"mongodb3 in","z":"d2fbcc62.2d366","service":"_ext_","configNode":"85566e08.1f8c9","name":"","collection":"WeatherStationWeek","operation":"find.toArray","x":410,"y":920,"wires":[["b8534b4a.6859c8","6de02e78.6753f","8fcb347e.52d618"]]},{"id":"60cb3070.224a8","type":"mongodb3 in","z":"d2fbcc62.2d366","service":"_ext_","configNode":"85566e08.1f8c9","name":"","collection":"Air-Light-Day","operation":"find.toArray","x":240,"y":440,"wires":[["587bde03.09a53"]]},{"id":"9eaa147e.63a5c8","type":"mongodb3 in","z":"d2fbcc62.2d366","service":"_ext_","configNode":"85566e08.1f8c9","name":"","collection":"Air-Light-Week","operation":"find.toArray","x":310,"y":580,"wires":[["e6d7aa7a.c1de58"]]},{"id":"5e76e483.5ee77c","type":"worldmap","z":"156cec94.edc4c3","name":"Farm","lat":"","lon":"","zoom":"","layer":"Esri Satellite","cluster":"","maxage":"","usermenu":"show","layers":"show","panit":"false","panlock":"false","zoomlock":"false","hiderightclick":"false","coords":"deg","showgrid":"false","allowFileDrop":"false","path":"/farm","x":1350,"y":520,"wires":[]},{"id":"a9d4ee71.00234","type":"worldmap","z":"47bd8dd6.6516e4","name":"","lat":"","lon":"","zoom":"","layer":"","cluster":"","maxage":"","usermenu":"show","layers":"show","panit":"false","panlock":"false","zoomlock":"false","hiderightclick":"false","coords":"none","showgrid":"false","allowFileDrop":"false","path":"/worldmap","x":880,"y":260,"wires":[]},{"id":"5d6e034.dd946fc","type":"inject","z":"3efa3f6b.2262b","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"10","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":200,"y":280,"wires":[["c769cb00.c9b438"]]},{"id":"c769cb00.c9b438","type":"openweathermap","z":"3efa3f6b.2262b","name":"Hai Duong","wtype":"current","lon":"","lat":"","city":"Hai Duong","country":"Viet Nam","language":"en","x":350,"y":180,"wires":[["9abf5fd4.9785a","b7b28542.293b08","170c82fa.1119fd","84aea38f.6225d","55d7617c.1743c"]]},{"id":"9abf5fd4.9785a","type":"ui_text","z":"3efa3f6b.2262b","d":true,"group":"70fb931.dfc146c","order":5,"width":5,"height":1,"name":"Description","label":"","format":"{{msg.payload.description}}","layout":"row-left","x":730,"y":100,"wires":[]},{"id":"eb760bbb.8e5ec","type":"inject","z":"28f8d090.e1a72","name":"Refresh Timer","repeat":"3600","crontab":"","once":false,"onceDelay":"","topic":"Refresh Timer","payload":"true","payloadType":"bool","x":120,"y":140,"wires":[["e54c1170.c13488","f6657c5c.2621a8"]]},{"id":"74cb77c.92dd108","type":"ui_button","z":"28f8d090.e1a72","name":"Weather Refresh","group":"99a4dc86.46d248","order":1,"width":0,"height":0,"passthru":false,"label":"Aktualisieren","tooltip":"Wetterdaten aktualisieren","color":"","bgcolor":"","icon":"fa-refresh","payload":"true","payloadType":"bool","topic":"","x":90,"y":220,"wires":[["e54c1170.c13488","f6657c5c.2621a8"]]},{"id":"4d90e53a.37962c","type":"ui_text","z":"28f8d090.e1a72","group":"b12941f.1cd05c","order":1,"width":"4","height":"1","name":"Condition Txt","label":"","format":"{{msg.payload.detail}}","layout":"row-center","x":970,"y":140,"wires":[]},{"id":"89a4bed9.5b467","type":"function","z":"28f8d090.e1a72","name":"Prepare Dashboard Data","func":"var windDirection = {};\nvar windDirectionIcon = {};\nvar windSpeed = {};\nvar windSpeedIcon = {};\nvar sunRise = {};\nvar sunSet = {};\nvar conditionIcon = {};\nvar date = new Date ();\n\n/* function for converting meteorogical degree to text */\n\nvar degToCard = function(deg){\nif (deg>11.25 && deg<=33.75){\nreturn \"Nord-Nord-Ost\";\n  }else if (deg>33.75 && deg<56.25){\nreturn \"Nord-Ost\";\n  }else if (deg>56.25 && deg<78.75){\nreturn \"Ost-Nord-Ost\";\n  }else if (deg>78.75 && deg<101.25){\nreturn \"Ost\";\n  }else if (deg>101.25 && deg<123.75){\nreturn \"Ost-Süd-Ost\";\n  }else if (deg>123.75 && deg<146.25){\nreturn \"Süd-Ost\";\n  }else if (deg>146.25 && deg<168.75){\nreturn \"Süd-Süd-Ost\";\n  }else if (deg>168.75 && deg<191.25){\nreturn \"Süd\";\n  }else if (deg>191.25 && deg<213.75){\nreturn \"Süd-Süd-West\";\n  }else if (deg>213.75 && deg<236.25){\nreturn \"Süd-West\";\n  }else if (deg>236.25 && deg<258.75){\nreturn \"West-Süd-West\";\n  }else if (deg>258.75 && deg<281.25){\nreturn \"West\";\n  }else if (deg>281.25 && deg<303.75){\nreturn \"West-Nord-West\";\n  }else if (deg>303.75 && deg<326.25){\nreturn \"Nord-West\";\n  }else if (deg>326.25 && deg<348.75){\nreturn \"Nord-Nord-West\";\n  }else{\nreturn \"Nord\"; \n  }\n}\n\n/* function for converting meteorogical degree to weather icons */\n\nvar degToCardIcon = function(deg){\nif (deg>11.25 && deg<=33.75){\nreturn \"wi-from-nne\";\n  }else if (deg>33.75 && deg<56.25){\nreturn \"wi-from-ne\";\n  }else if (deg>56.25 && deg<78.75){\nreturn \"wi-from-ene\";\n  }else if (deg>78.75 && deg<101.25){\nreturn \"wi-from-e\";\n  }else if (deg>101.25 && deg<123.75){\nreturn \"wi-from-ese\";\n  }else if (deg>123.75 && deg<146.25){\nreturn \"wi-from-se\";\n  }else if (deg>146.25 && deg<168.75){\nreturn \"wi-from-sse\";\n  }else if (deg>168.75 && deg<191.25){\nreturn \"wi-from-s\";\n  }else if (deg>191.25 && deg<213.75){\nreturn \"wi-from-ssw\";\n  }else if (deg>213.75 && deg<236.25){\nreturn \"wi-from-sw\";\n  }else if (deg>236.25 && deg<258.75){\nreturn \"wi-from-wsw\";\n  }else if (deg>258.75 && deg<281.25){\nreturn \"wi-from-w\";\n  }else if (deg>281.25 && deg<303.75){\nreturn \"wi-from-wnw\";\n  }else if (deg>303.75 && deg<326.25){\nreturn \"wi-from-nw\";\n  }else if (deg>326.25 && deg<348.75){\nreturn \"wi-from-nnw\";\n  }else{\nreturn \"wi-from-n\"; \n  }\n}\n\n/* Function for converting wind speed into Beaufort scale icon */\n\nvar speedToCardIcon = function(speed){\nif (speed>0.5 && speed<=1.5){\nreturn \"wi-wind-beaufort-1\";\n  }else if (speed>1.5 && speed<=3.3){\nreturn \"wi-wind-beaufort-2\";\n  }else if (speed>3.3 && speed<=5.5){\nreturn \"wi-wind-beaufort-3\";\n  }else if (speed>5.5 && speed<=7.9){\nreturn \"wi-wind-beaufort-4\";\n  }else if (speed>7.9 && speed<=10.7){\nreturn \"wi-wind-beaufort-5\";\n  }else if (speed>10.7 && speed<=13.8){\nreturn \"wi-wind-beaufort-6\";\n  }else if (speed>13.8 && speed<=17.1){\nreturn \"wi-wind-beaufort-7\";\n  }else if (speed>17.1 && speed<=20.7){\nreturn \"wi-wind-beaufort-8\";\n  }else if (speed>20.7 && speed<=24.4){\nreturn \"wi-wind-beaufort-9\";\n  }else if (speed>24.4 && speed<=28.4){\nreturn \"wi-wind-beaufort-10\";\n  }else if (speed>28.4 && speed<=32.6){\nreturn \"wi-wind-beaufort-11\";\n  }else if (speed>32.6){\nreturn \"wi-wind-beaufort-12\";\n  }else{\nreturn \"wi-wind-beaufort-0\"; \n  }\n}\n\n/* Function for Time Conversions */\n\nfunction timeConverter(UNIX_timestamp){\n  var a = new Date(UNIX_timestamp * 1000);\n  var hour = a.getHours();\n  var min = a.getMinutes();\n  if (min < 10) {min = \"0\" + min;}\n    else {min = min;}\n  var sec = a.getSeconds();\n  if (sec < 10) {sec = \"0\" + sec;}\n    else {sec = sec;}\n    \n  var time = hour + ':' + min + ':' + sec ;\n  return time;\n}\n\n/* Convert OpenWeeather Map Icon to https://erikflowers.github.io/weather-icons/ */\n\nconst owIconMap = new Map();\n\nowIconMap.set('01d', 'wi-day-sunny'); // clear sky\nowIconMap.set('02d', 'wi-day-cloudy'); // few clouds\nowIconMap.set('03d', 'wi-cloud'); // scattered clouds\nowIconMap.set('04d', 'wi-cloudy'); // broken clouds\nowIconMap.set('09d', 'wi-day-showers'); // shower rain\nowIconMap.set('10d', 'wi-day-rain'); // rain\nowIconMap.set('11d', 'wi-thunderstorm'); // thunderstorm\nowIconMap.set('13d', 'wi-snow'); // snow\nowIconMap.set('50d', 'wi-fog'); // mist\nowIconMap.set('01n', 'wi-night-clear'); // clear sky\nowIconMap.set('02n', 'wi-night-alt-cloudy'); // few clouds\nowIconMap.set('03n', 'wi-cloud'); // scattered clouds\nowIconMap.set('04n', 'wi-cloudy'); // broken clouds\nowIconMap.set('09n', 'wi-night-alt-showers'); // shower rain\nowIconMap.set('10n', 'wi-night-alt-rain'); // rain\nowIconMap.set('11n', 'wi-thunderstorm'); // thunderstorm\nowIconMap.set('13n', 'wi-snow'); // snow\nowIconMap.set('50n', 'wi-fog'); // mist\n\nconditionIcon.topic = \"ConditionIcon\";\nconditionIcon.payload = owIconMap.get(msg.payload.icon);\n\nwindDirection.topic = \"WindDirection\";\nwindDirection.payload = degToCard(msg.payload.winddirection);\n\nwindDirectionIcon.topic = \"WindDirectionIcon\";\nwindDirectionIcon.payload = degToCardIcon(msg.payload.winddirection);\n\nwindSpeed.topic = \"WindSpeed\";\nwindSpeed.payload = msg.payload.windspeed +  \" m/s\"; /* \" + windDirection.payload; */\n\nwindSpeedIcon.topic = \"WindSpeedIcon\";\nwindSpeedIcon.payload = speedToCardIcon(msg.payload.windspeed);\n\nsunRise.topic = \"SunRise\";\nsunRise.payload = timeConverter(msg.payload.sunrise);\n\nsunSet.topic = \"SunRet\";\nsunSet.payload = timeConverter(msg.payload.sunset);\n\nowIconMap.clear(); //freeing resource\n\nreturn [conditionIcon, windSpeedIcon, windSpeed, windDirection, windDirectionIcon, sunRise, sunSet];","outputs":7,"noerr":0,"initialize":"","finalize":"","x":660,"y":300,"wires":[["d0990bb3.6ee1f8"],["6bfd9bef.141194"],["49e2e33e.486c14"],[],["a8c65467.d3352"],["393c1d0b.05766a"],["d2011150.f678f"]]},{"id":"49e2e33e.486c14","type":"ui_text","z":"28f8d090.e1a72","group":"8da50f69.44fe38","order":2,"width":"2","height":"1","name":"WindSpeed","label":"","format":"{{msg.payload}}","layout":"row-center","x":960,"y":300,"wires":[]},{"id":"393c1d0b.05766a","type":"ui_text","z":"28f8d090.e1a72","group":"5a4d76d2.5ae128","order":4,"width":"2","height":"1","name":"Sunrise","label":"","format":"{{msg.payload}}","layout":"col-center","x":950,"y":440,"wires":[]},{"id":"d2011150.f678f","type":"ui_text","z":"28f8d090.e1a72","group":"5a4d76d2.5ae128","order":6,"width":"2","height":"1","name":"Sunset","label":"","format":"{{msg.payload}}","layout":"col-center","x":950,"y":520,"wires":[]},{"id":"a767f2cc.5f3478","type":"ui_template","z":"28f8d090.e1a72","group":"5a4d76d2.5ae128","name":"Sunrise Icon","order":3,"width":"1","height":"1","format":"<link rel=\"stylesheet\" href=\"/weather-icons/mycss/weather-icons.min.css\">\n<div style=\"display: flex;height: 100%;justify-content: left;align-items: center;\">\n<i class=\"fa-2x wi wi-sunrise\"></i>\n</div> ","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":false,"templateScope":"local","x":960,"y":400,"wires":[[]]},{"id":"7dfa615d.50546","type":"ui_template","z":"28f8d090.e1a72","group":"5a4d76d2.5ae128","name":"Sunset Icon","order":5,"width":"1","height":"1","format":"<link rel=\"stylesheet\" href=\"/weather-icons/mycss/weather-icons.min.css\">\n<div style=\"display: flex;height: 100%;justify-content: left;align-items: center;\">\n<i class=\"fa-2x wi wi-sunset\"></i>\n</div> ","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":960,"y":480,"wires":[[]]},{"id":"a8c65467.d3352","type":"ui_template","z":"28f8d090.e1a72","group":"8da50f69.44fe38","name":"WindDirection icon","order":3,"width":"1","height":"1","format":"<link rel=\"stylesheet\" href=\"/weather-icons/mycss/weather-icons-wind.css\">\n<div style=\"display: flex;height: 100%;justify-content: center;align-items: center;\">\n<i class=\"fa-2x wi wi-wind {{msg.payload}}\"></i>\n</div> ","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":false,"templateScope":"local","x":980,"y":340,"wires":[[]]},{"id":"e54c1170.c13488","type":"openweathermap","z":"28f8d090.e1a72","name":"Current Weather","wtype":"current","lon":"8.01","lat":"50.01","city":"","country":"","language":"de","x":350,"y":140,"wires":[["89a4bed9.5b467","4d90e53a.37962c"]]},{"id":"6bfd9bef.141194","type":"ui_template","z":"28f8d090.e1a72","group":"8da50f69.44fe38","name":"WindSpeed Icon","order":1,"width":"1","height":"1","format":"<link rel=\"stylesheet\" href=\"/weather-icons/mycss/weather-icons-wind.css\">\n<div style=\"display: flex;height: 100%;justify-content: left;align-items: center;\">\n<i class=\"fa-2x wi wi-wind {{msg.payload}}\"></i>\n</div>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":false,"templateScope":"local","x":980,"y":260,"wires":[[]]},{"id":"480a6cbf.880804","type":"debug","z":"28f8d090.e1a72","name":"Forecast debug","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":970,"y":940,"wires":[]},{"id":"5af8efb7.126a98","type":"comment","z":"28f8d090.e1a72","name":"Open Weather API für aktuelles Wetter und Forecast","info":"","x":460,"y":60,"wires":[]},{"id":"d0990bb3.6ee1f8","type":"ui_template","z":"28f8d090.e1a72","group":"14584712.7a2929","name":"Condition Icon","order":1,"width":"2","height":"2","format":"<link rel=\"stylesheet\" href=\"/weather-icons/mycss/weather-icons.min.css\">\n<div style=\"display: flex;height: 100%;justify-content: center;align-items: center;\">\n<i class=\"fa-4x wi {{msg.payload}}\"></i>\n</div>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":false,"templateScope":"local","x":970,"y":180,"wires":[[]]},{"id":"f6657c5c.2621a8","type":"openweathermap","z":"28f8d090.e1a72","name":"5 Day Forecast","wtype":"forecast","lon":"8.02","lat":"50.01","city":"","country":"","language":"de","x":330,"y":600,"wires":[["25b2dc06.cd7bdc","e58a247.3094b58","c5b71946.ca4de","480a6cbf.880804"]]},{"id":"25b2dc06.cd7bdc","type":"function","z":"28f8d090.e1a72","name":"Prepare Forecast Icon","func":"var wfcIcon1 = {};\nvar wfcIcon2 = {}; \nvar wfcIcon3 = {};\nvar wfcIcon4 = {};\nvar wfcIcon5 = {};\nvar wfcIcon6 = {};\nvar wfcIcon7 = {};\nvar wfcIcon8 = {};\n\n\nvar date = new Date ();\n\n/* Function for Time Conversions */\n\nfunction timeConverter(UNIX_timestamp){\n  var a = new Date(UNIX_timestamp * 1000);\n  var hour = a.getHours();\n  var min = a.getMinutes();\n  if (min < 10) {min = \"0\" + min;}\n    else {min = min;}\n  var sec = a.getSeconds();\n  if (sec < 10) {sec = \"0\" + sec;}\n    else {sec = sec;}\n    \n  var time = hour + ':' + min; /* + ':' + sec ;*/\n  return time;\n}\n\n/* Convert OpenWeeather Map Icon to https://erikflowers.github.io/weather-icons/ */\n\nconst owIconMap = new Map();\n\nowIconMap.set('01d', 'wi-day-sunny'); // clear sky\nowIconMap.set('02d', 'wi-day-cloudy'); // few clouds\nowIconMap.set('03d', 'wi-cloud'); // scattered clouds\nowIconMap.set('04d', 'wi-cloudy'); // broken clouds\nowIconMap.set('09d', 'wi-day-showers'); // shower rain\nowIconMap.set('10d', 'wi-day-rain'); // rain\nowIconMap.set('11d', 'wi-thunderstorm'); // thunderstorm\nowIconMap.set('13d', 'wi-snow'); // snow\nowIconMap.set('50d', 'wi-fog'); // mist\nowIconMap.set('01n', 'wi-night-clear'); // clear sky\nowIconMap.set('02n', 'wi-night-alt-cloudy'); // few clouds\nowIconMap.set('03n', 'wi-cloud'); // scattered clouds\nowIconMap.set('04n', 'wi-cloudy'); // broken clouds\nowIconMap.set('09n', 'wi-night-alt-showers'); // shower rain\nowIconMap.set('10n', 'wi-night-alt-rain'); // rain\nowIconMap.set('11n', 'wi-thunderstorm'); // thunderstorm\nowIconMap.set('13n', 'wi-snow'); // snow\nowIconMap.set('50n', 'wi-fog'); // mist\n\nwfcIcon1.topic = msg.payload[0].dt_txt;\nwfcIcon1.payload = owIconMap.get(msg.payload[0].weather[0].icon);\n\nwfcIcon2.topic = msg.payload[1].dt_txt;\nwfcIcon2.payload = owIconMap.get(msg.payload[1].weather[0].icon);\n\nwfcIcon3.topic = msg.payload[2].dt_txt;\nwfcIcon3.payload = owIconMap.get(msg.payload[2].weather[0].icon);\n\nwfcIcon4.topic = msg.payload[3].dt_txt;\nwfcIcon4.payload = owIconMap.get(msg.payload[3].weather[0].icon);\n\nwfcIcon5.topic = msg.payload[4].dt_txt;\nwfcIcon5.payload = owIconMap.get(msg.payload[4].weather[0].icon);\n\nwfcIcon6.topic = msg.payload[5].dt_txt;\nwfcIcon6.payload = owIconMap.get(msg.payload[5].weather[0].icon);\n\nwfcIcon7.topic = msg.payload[6].dt_txt;\nwfcIcon7.payload = owIconMap.get(msg.payload[6].weather[0].icon);\n\nwfcIcon8.topic = msg.payload[7].dt_txt;\nwfcIcon8.payload = owIconMap.get(msg.payload[7].weather[0].icon);\n\n\nowIconMap.clear(); //freeing resource\n\nreturn [wfcIcon1, wfcIcon2, wfcIcon3, wfcIcon4, wfcIcon5, wfcIcon6, wfcIcon7, wfcIcon8];","outputs":8,"noerr":0,"x":670,"y":660,"wires":[["39139188.be2256"],["c24820ec.48ca8"],["764a58c0.442438"],["6eab6954.c57d38"],["c756059d.18796"],["53046826.3645"],["229014e6.b0e14c"],["fd1a001d.2fc35"]]},{"id":"39139188.be2256","type":"ui_template","z":"28f8d090.e1a72","group":"5e0d6747.b726b","name":"WFc Icon 1","order":2,"width":"1","height":"1","format":"<link rel=\"stylesheet\" href=\"/weather-icons/mycss/weather-icons.min.css\">\n<div style=\"display: flex;height: 100%;justify-content: center;align-items: center;\">\n<i class=\"fa-1x wi {{msg.payload}}\"></i>\n</div>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":960,"y":600,"wires":[[]]},{"id":"c24820ec.48ca8","type":"ui_template","z":"28f8d090.e1a72","group":"5e0d6747.b726b","name":"WFc Icon 2","order":3,"width":"1","height":"1","format":"<link rel=\"stylesheet\" href=\"/weather-icons/mycss/weather-icons.min.css\">\n<div style=\"display: flex;height: 100%;justify-content: center;align-items: center;\">\n<i class=\"fa-1x wi {{msg.payload}}\"></i>\n</div>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":960,"y":640,"wires":[[]]},{"id":"764a58c0.442438","type":"ui_template","z":"28f8d090.e1a72","group":"5e0d6747.b726b","name":"WFc Icon 3","order":4,"width":"1","height":"1","format":"<link rel=\"stylesheet\" href=\"/weather-icons/mycss/weather-icons.min.css\">\n<div style=\"display: flex;height: 100%;justify-content: center;align-items: center;\">\n<i class=\"fa-1x wi {{msg.payload}}\"></i>\n</div>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":960,"y":680,"wires":[[]]},{"id":"6eab6954.c57d38","type":"ui_template","z":"28f8d090.e1a72","group":"5e0d6747.b726b","name":"WFc Icon 4","order":5,"width":"1","height":"1","format":"<link rel=\"stylesheet\" href=\"/weather-icons/mycss/weather-icons.min.css\">\n<div style=\"display: flex;height: 100%;justify-content: center;align-items: center;\">\n<i class=\"fa-1x wi {{msg.payload}}\"></i>\n</div>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":960,"y":720,"wires":[[]]},{"id":"c756059d.18796","type":"ui_template","z":"28f8d090.e1a72","group":"5e0d6747.b726b","name":"WFc Icon 5","order":6,"width":"1","height":"1","format":"<link rel=\"stylesheet\" href=\"/weather-icons/mycss/weather-icons.min.css\">\n<div style=\"display: flex;height: 100%;justify-content: center;align-items: center;\">\n<i class=\"fa-1x wi {{msg.payload}}\"></i>\n</div>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":960,"y":760,"wires":[[]]},{"id":"53046826.3645","type":"ui_template","z":"28f8d090.e1a72","group":"5e0d6747.b726b","name":"WFc Icon 6","order":7,"width":"1","height":"1","format":"<link rel=\"stylesheet\" href=\"/weather-icons/mycss/weather-icons.min.css\">\n<div style=\"display: flex;height: 100%;justify-content: center;align-items: center;\">\n<i class=\"fa-1x wi {{msg.payload}}\"></i>\n</div>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":960,"y":800,"wires":[[]]},{"id":"229014e6.b0e14c","type":"ui_template","z":"28f8d090.e1a72","group":"5e0d6747.b726b","name":"WFc Icon 7","order":8,"width":"1","height":"1","format":"<link rel=\"stylesheet\" href=\"/weather-icons/mycss/weather-icons.min.css\">\n<div style=\"display: flex;height: 100%;justify-content: center;align-items: center;\">\n<i class=\"fa-1x wi {{msg.payload}}\"></i>\n</div>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":960,"y":840,"wires":[[]]},{"id":"fd1a001d.2fc35","type":"ui_template","z":"28f8d090.e1a72","group":"5e0d6747.b726b","name":"WFc Icon 8","order":9,"width":"1","height":"1","format":"<link rel=\"stylesheet\" href=\"/weather-icons/mycss/weather-icons.min.css\">\n<div style=\"display: flex;height: 100%;justify-content: center;align-items: center;\">\n<i class=\"fa-1x wi {{msg.payload}}\"></i>\n</div>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":960,"y":880,"wires":[[]]},{"id":"e58a247.3094b58","type":"function","z":"28f8d090.e1a72","name":"Prepare Forecast Data","func":"var fcdata = {};\n\nfcdata.payload = {\n  forecast: {\n    dt00: {\n      dt_txt: msg.payload[0].dt_txt,\n      temp_min: msg.payload[0].main.temp_min,\n      temp_max: msg.payload[0].main.temp_max,\n      temp: msg.payload[0].main.temp,\n      desc: msg.payload[0].weather[0].description\n    },\n    dt01: {\n      dt_txt: msg.payload[1].dt_txt,\n      temp_min: msg.payload[1].main.temp_min,\n      temp_max: msg.payload[1].main.temp_max,\n      temp: msg.payload[1].main.temp,\n      desc: msg.payload[1].weather[0].description\n    },\n    dt02: {\n      dt_txt: msg.payload[2].dt_txt,\n      temp_min: msg.payload[2].main.temp_min,\n      temp_max: msg.payload[2].main.temp_max,\n      temp: msg.payload[2].main.temp,\n      desc: msg.payload[2].weather[0].description\n    },\n    dt03: {\n      dt_txt: msg.payload[3].dt_txt,\n      temp_min: msg.payload[3].main.temp_min,\n      temp_max: msg.payload[3].main.temp_max,\n      temp: msg.payload[3].main.temp,\n      desc: msg.payload[3].weather[0].description\n    },\n    dt04: {\n      dt_txt: msg.payload[4].dt_txt,\n      temp_min: msg.payload[4].main.temp_min,\n      temp_max: msg.payload[4].main.temp_max,\n      temp: msg.payload[4].main.temp,\n      desc: msg.payload[4].weather[0].description\n    },\n    dt05: {\n      dt_txt: msg.payload[5].dt_txt,\n      temp_min: msg.payload[5].main.temp_min,\n      temp_max: msg.payload[5].main.temp_max,\n      temp: msg.payload[5].main.temp,\n      desc: msg.payload[5].weather[0].description\n    },\n    dt06: {\n      dt_txt: msg.payload[6].dt_txt,\n      temp_min: msg.payload[6].main.temp_min,\n      temp_max: msg.payload[6].main.temp_max,\n      temp: msg.payload[6].main.temp,\n      desc: msg.payload[6].weather[0].description\n    },\n    dt07: {\n      dt_txt: msg.payload[7].dt_txt,\n      temp_min: msg.payload[7].main.temp_min,\n      temp_max: msg.payload[7].main.temp_max,\n      temp: msg.payload[7].main.temp,\n      desc: msg.payload[7].weather[0].description\n    }\n  }\n}\n\n\n\nreturn fcdata;","outputs":1,"noerr":0,"x":670,"y":940,"wires":[[]]},{"id":"770400c.08ade8","type":"ui_template","z":"28f8d090.e1a72","group":"5e0d6747.b726b","name":"Forecast","order":1,"width":"8","height":"1","format":"<div layout=\"row\" layout-align=\"space-around start\" ng-repeat=\"data in msg.payload.row\">\n  <span flex style=\"color: white\">{{data.cell01}}</span>\n  <span flex style=\"color: white\">{{data.cell02}}</span>\n  <span flex style=\"color: white\">{{data.cell03}}</span>\n  <span flex style=\"color: white\">{{data.cell04}}</span>\n  <span flex style=\"color: white\">{{data.cell05}}</span>\n  <span flex style=\"color: white\">{{data.cell06}}</span>\n  <span flex style=\"color: white\">{{data.cell07}}</span>\n  <span flex style=\"color: white\">{{data.cell08}}</span>\n</div>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":950,"y":1060,"wires":[[]]},{"id":"c5b71946.ca4de","type":"function","z":"28f8d090.e1a72","name":"Prepare forecast for UI widget","func":"var fcdata = {};\n\n// prepare forecast data for CSS based ui widget\n\nfcdata.payload = {\n  row: {\n  \tdata01: {\n  \t\tcell01: msg.payload[0].dt_txt.substring(11, 16),\n  \t\tcell02: msg.payload[1].dt_txt.substring(11, 16),\n  \t\tcell03: msg.payload[2].dt_txt.substring(11, 16),\n  \t\tcell04: msg.payload[3].dt_txt.substring(11, 16),\n  \t\tcell05: msg.payload[4].dt_txt.substring(11, 16),\n  \t\tcell06: msg.payload[5].dt_txt.substring(11, 16),\n  \t\tcell07: msg.payload[6].dt_txt.substring(11, 16),\n  \t\tcell08: msg.payload[7].dt_txt.substring(11, 16)\n  \t},\n  \tdata02: {\n  \t\tcell01: msg.payload[0].main.temp,\n  \t\tcell02: msg.payload[1].main.temp,\n  \t\tcell03: msg.payload[2].main.temp,\n  \t\tcell04: msg.payload[3].main.temp,\n  \t\tcell05: msg.payload[4].main.temp,\n  \t\tcell06: msg.payload[5].main.temp,\n  \t\tcell07: msg.payload[6].main.temp,\n  \t\tcell08: msg.payload[7].main.temp\n  \t}\n  }\n}\n\nreturn fcdata;","outputs":1,"noerr":0,"x":710,"y":1080,"wires":[["770400c.08ade8"]]},{"id":"170c82fa.1119fd","type":"ui_text","z":"3efa3f6b.2262b","group":"6fc8e898.b32988","order":2,"width":3,"height":2,"name":"Condition Txt","label":"","format":"{{msg.payload.detail}}","layout":"row-center","x":710,"y":420,"wires":[]},{"id":"b7b28542.293b08","type":"function","z":"3efa3f6b.2262b","name":"Prepare Dashboard Data","func":"var windDirection = {};\nvar windDirectionIcon = {};\nvar windSpeed = {};\nvar windSpeedIcon = {};\nvar sunRise = {};\nvar sunSet = {};\nvar conditionIcon = {};\nvar date = new Date ();\n\n/* function for converting meteorogical degree to text */\n\nvar degToCard = function(deg){\nif (deg>11.25 && deg<=33.75){\nreturn \"Nord-Nord-Ost\";\n  }else if (deg>33.75 && deg<56.25){\nreturn \"Nord-Ost\";\n  }else if (deg>56.25 && deg<78.75){\nreturn \"Ost-Nord-Ost\";\n  }else if (deg>78.75 && deg<101.25){\nreturn \"Ost\";\n  }else if (deg>101.25 && deg<123.75){\nreturn \"Ost-Süd-Ost\";\n  }else if (deg>123.75 && deg<146.25){\nreturn \"Süd-Ost\";\n  }else if (deg>146.25 && deg<168.75){\nreturn \"Süd-Süd-Ost\";\n  }else if (deg>168.75 && deg<191.25){\nreturn \"Süd\";\n  }else if (deg>191.25 && deg<213.75){\nreturn \"Süd-Süd-West\";\n  }else if (deg>213.75 && deg<236.25){\nreturn \"Süd-West\";\n  }else if (deg>236.25 && deg<258.75){\nreturn \"West-Süd-West\";\n  }else if (deg>258.75 && deg<281.25){\nreturn \"West\";\n  }else if (deg>281.25 && deg<303.75){\nreturn \"West-Nord-West\";\n  }else if (deg>303.75 && deg<326.25){\nreturn \"Nord-West\";\n  }else if (deg>326.25 && deg<348.75){\nreturn \"Nord-Nord-West\";\n  }else{\nreturn \"Nord\"; \n  }\n}\n\n/* function for converting meteorogical degree to weather icons */\n\nvar degToCardIcon = function(deg){\nif (deg>11.25 && deg<=33.75){\nreturn \"wi-from-nne\";\n  }else if (deg>33.75 && deg<56.25){\nreturn \"wi-from-ne\";\n  }else if (deg>56.25 && deg<78.75){\nreturn \"wi-from-ene\";\n  }else if (deg>78.75 && deg<101.25){\nreturn \"wi-from-e\";\n  }else if (deg>101.25 && deg<123.75){\nreturn \"wi-from-ese\";\n  }else if (deg>123.75 && deg<146.25){\nreturn \"wi-from-se\";\n  }else if (deg>146.25 && deg<168.75){\nreturn \"wi-from-sse\";\n  }else if (deg>168.75 && deg<191.25){\nreturn \"wi-from-s\";\n  }else if (deg>191.25 && deg<213.75){\nreturn \"wi-from-ssw\";\n  }else if (deg>213.75 && deg<236.25){\nreturn \"wi-from-sw\";\n  }else if (deg>236.25 && deg<258.75){\nreturn \"wi-from-wsw\";\n  }else if (deg>258.75 && deg<281.25){\nreturn \"wi-from-w\";\n  }else if (deg>281.25 && deg<303.75){\nreturn \"wi-from-wnw\";\n  }else if (deg>303.75 && deg<326.25){\nreturn \"wi-from-nw\";\n  }else if (deg>326.25 && deg<348.75){\nreturn \"wi-from-nnw\";\n  }else{\nreturn \"wi-from-n\"; \n  }\n}\n\n/* Function for converting wind speed into Beaufort scale icon */\n\nvar speedToCardIcon = function(speed){\nif (speed>0.5 && speed<=1.5){\nreturn \"wi-wind-beaufort-1\";\n  }else if (speed>1.5 && speed<=3.3){\nreturn \"wi-wind-beaufort-2\";\n  }else if (speed>3.3 && speed<=5.5){\nreturn \"wi-wind-beaufort-3\";\n  }else if (speed>5.5 && speed<=7.9){\nreturn \"wi-wind-beaufort-4\";\n  }else if (speed>7.9 && speed<=10.7){\nreturn \"wi-wind-beaufort-5\";\n  }else if (speed>10.7 && speed<=13.8){\nreturn \"wi-wind-beaufort-6\";\n  }else if (speed>13.8 && speed<=17.1){\nreturn \"wi-wind-beaufort-7\";\n  }else if (speed>17.1 && speed<=20.7){\nreturn \"wi-wind-beaufort-8\";\n  }else if (speed>20.7 && speed<=24.4){\nreturn \"wi-wind-beaufort-9\";\n  }else if (speed>24.4 && speed<=28.4){\nreturn \"wi-wind-beaufort-10\";\n  }else if (speed>28.4 && speed<=32.6){\nreturn \"wi-wind-beaufort-11\";\n  }else if (speed>32.6){\nreturn \"wi-wind-beaufort-12\";\n  }else{\nreturn \"wi-wind-beaufort-0\"; \n  }\n}\n\n/* Function for Time Conversions */\n\nfunction timeConverter(UNIX_timestamp){\n  var a = new Date(UNIX_timestamp * 1000);\n  var hour = a.getHours();\n  var min = a.getMinutes();\n  if (min < 10) {min = \"0\" + min;}\n    else {min = min;}\n  var sec = a.getSeconds();\n  if (sec < 10) {sec = \"0\" + sec;}\n    else {sec = sec;}\n    \n  var time = hour + ':' + min + ':' + sec ;\n  return time;\n}\n\n/* Convert OpenWeeather Map Icon to https://erikflowers.github.io/weather-icons/ */\n\nconst owIconMap = new Map();\n\nowIconMap.set('01d', 'wi-day-sunny'); // clear sky\nowIconMap.set('02d', 'wi-day-cloudy'); // few clouds\nowIconMap.set('03d', 'wi-cloud'); // scattered clouds\nowIconMap.set('04d', 'wi-cloudy'); // broken clouds\nowIconMap.set('09d', 'wi-day-showers'); // shower rain\nowIconMap.set('10d', 'wi-day-rain'); // rain\nowIconMap.set('11d', 'wi-thunderstorm'); // thunderstorm\nowIconMap.set('13d', 'wi-snow'); // snow\nowIconMap.set('50d', 'wi-fog'); // mist\nowIconMap.set('01n', 'wi-night-clear'); // clear sky\nowIconMap.set('02n', 'wi-night-alt-cloudy'); // few clouds\nowIconMap.set('03n', 'wi-cloud'); // scattered clouds\nowIconMap.set('04n', 'wi-cloudy'); // broken clouds\nowIconMap.set('09n', 'wi-night-alt-showers'); // shower rain\nowIconMap.set('10n', 'wi-night-alt-rain'); // rain\nowIconMap.set('11n', 'wi-thunderstorm'); // thunderstorm\nowIconMap.set('13n', 'wi-snow'); // snow\nowIconMap.set('50n', 'wi-fog'); // mist\n\nconditionIcon.topic = \"ConditionIcon\";\nconditionIcon.payload = owIconMap.get(msg.payload.icon);\n\nwindDirection.topic = \"WindDirection\";\nwindDirection.payload = degToCard(msg.payload.winddirection);\n\nwindDirectionIcon.topic = \"WindDirectionIcon\";\nwindDirectionIcon.payload = degToCardIcon(msg.payload.winddirection);\n\nwindSpeed.topic = \"WindSpeed\";\nwindSpeed.payload = msg.payload.windspeed +  \" m/s\"; /* \" + windDirection.payload; */\n\nwindSpeedIcon.topic = \"WindSpeedIcon\";\nwindSpeedIcon.payload = speedToCardIcon(msg.payload.windspeed);\n\nsunRise.topic = \"SunRise\";\nsunRise.payload = timeConverter(msg.payload.sunrise);\n\nsunSet.topic = \"SunRet\";\nsunSet.payload = timeConverter(msg.payload.sunset);\n\nowIconMap.clear(); //freeing resource\n\nreturn [conditionIcon, windSpeedIcon, windSpeed, windDirection, windDirectionIcon, sunRise, sunSet];","outputs":7,"noerr":0,"initialize":"","finalize":"","x":400,"y":620,"wires":[["fd2d5b8c.44c848","39846726.439578"],["ffd57970.eb39f8"],["96d1106d.47be3"],[],["55982338.b3060c"],["641df88b.98dc68"],["d1dff246.54e7c"]]},{"id":"96d1106d.47be3","type":"ui_text","z":"3efa3f6b.2262b","group":"6fc8e898.b32988","order":8,"width":4,"height":1,"name":"WindSpeed","label":"","format":"{{msg.payload}}","layout":"row-center","x":670,"y":620,"wires":[]},{"id":"641df88b.98dc68","type":"ui_text","z":"3efa3f6b.2262b","d":true,"group":"6fc8e898.b32988","order":10,"width":4,"height":1,"name":"Sunrise","label":"","format":"{{msg.payload}}","layout":"col-center","x":680,"y":800,"wires":[]},{"id":"d1dff246.54e7c","type":"ui_text","z":"3efa3f6b.2262b","d":true,"group":"6fc8e898.b32988","order":12,"width":4,"height":1,"name":"Sunset","label":"","format":"{{msg.payload}}","layout":"col-center","x":700,"y":880,"wires":[]},{"id":"dba4f6dc.f1a888","type":"ui_template","z":"3efa3f6b.2262b","d":true,"group":"6fc8e898.b32988","name":"Sunrise Icon","order":9,"width":3,"height":1,"format":"<link rel=\"stylesheet\" href=\"/weather-icons/css/weather-icons.min.css\">\n<div style=\"display: flex;height: 100%;justify-content: left;align-items: center;\">\n<i class=\"fa-2x wi wi-sunrise\"></i>\n</div> ","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":false,"templateScope":"local","x":690,"y":760,"wires":[[]]},{"id":"1238fe31.75c642","type":"ui_template","z":"3efa3f6b.2262b","d":true,"group":"6fc8e898.b32988","name":"Sunset Icon","order":11,"width":3,"height":1,"format":"<link rel=\"stylesheet\" href=\"/weather-icons/css/weather-icons.min.css\">\n<div style=\"display: flex;height: 100%;justify-content: left;align-items: center;\">\n<i class=\"fa-2x wi wi-sunset\"></i>\n</div> ","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":false,"templateScope":"local","x":690,"y":840,"wires":[[]]},{"id":"55982338.b3060c","type":"ui_template","z":"3efa3f6b.2262b","group":"6fc8e898.b32988","name":"WindDirection icon","order":6,"width":4,"height":1,"format":"<link rel=\"stylesheet\" href=\"/weather-icons/css/weather-icons-wind.css\">\n<div style=\"display: flex;height: 100%;justify-content: center;align-items: center;\">\n<i class=\"fa-2x wi wi-wind {{msg.payload}}\"></i>\n</div> ","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":false,"templateScope":"local","x":870,"y":700,"wires":[[]]},{"id":"ffd57970.eb39f8","type":"ui_template","z":"3efa3f6b.2262b","d":true,"group":"db373590.939388","name":"WindSpeed Icon","order":6,"width":2,"height":1,"format":"<link rel=\"stylesheet\" href=\"/weather-icons/css/weather-icons-wind.css\">\n<div style=\"display: flex;height: 100%;justify-content: left;align-items: center;\">\n<i class=\"fa-2x wi wi-wind {{msg.payload}}\"></i>\n</div>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":false,"templateScope":"local","x":680,"y":580,"wires":[[]]},{"id":"fd2d5b8c.44c848","type":"debug","z":"3efa3f6b.2262b","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":520,"y":480,"wires":[]},{"id":"84aea38f.6225d","type":"function","z":"3efa3f6b.2262b","name":"temperature","func":"var msg2 = {};\n\nmsg2.payload=msg.payload.tempc;\nmsg2.topic = 'Temperature';\n\nreturn msg2;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":710,"y":180,"wires":[["956b7419.6b6728"]]},{"id":"55d7617c.1743c","type":"function","z":"3efa3f6b.2262b","name":"humidity","func":"var msg1 = {};\n\nmsg1.payload=msg.payload.humidity;\nmsg1.topic = 'Humidity';\n\nreturn msg1;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":700,"y":260,"wires":[["956b7419.6b6728"]]},{"id":"956b7419.6b6728","type":"ui_chart","z":"3efa3f6b.2262b","name":"","group":"6fc8e898.b32988","order":15,"width":7,"height":4,"label":"Nhiệt độ độ ẩm","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":true,"ymin":"0","ymax":"100","removeOlder":1,"removeOlderPoints":"15","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":1000,"y":200,"wires":[[]]},{"id":"124abb7e.551475","type":"ui_text","z":"3efa3f6b.2262b","group":"6fc8e898.b32988","order":1,"width":0,"height":0,"name":"bla bla","label":"Điều kiện thời tiết","format":"{{msg.payload}}","layout":"row-spread","x":670,"y":380,"wires":[]},{"id":"735281b.0bb6d8","type":"ui_text","z":"3efa3f6b.2262b","group":"6fc8e898.b32988","order":4,"width":0,"height":0,"name":"","label":"Điều kiện gió","format":"{{msg.payload}}","layout":"row-spread","x":690,"y":500,"wires":[]},{"id":"fd242753.441458","type":"ui_text","z":"3efa3f6b.2262b","d":true,"group":"6fc8e898.b32988","order":24,"width":0,"height":0,"name":"","label":"Mặt trời","format":"{{msg.payload}}","layout":"row-spread","x":680,"y":720,"wires":[]},{"id":"39846726.439578","type":"ui_template","z":"3efa3f6b.2262b","group":"6fc8e898.b32988","name":"Condition Icon","order":3,"width":4,"height":2,"format":"<link rel=\"stylesheet\" href=\"/weather-icons/css/weather-icons.min.css\">\n<div style=\"display: flex;height: 100%;justify-content: center;align-items: center;\">\n<i class=\"fa-4x wi {{msg.payload}}\"></i>\n</div>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":false,"templateScope":"local","x":720,"y":460,"wires":[[]]},{"id":"28c2ee03.7dbd82","type":"function","z":"a50cd5be.7c9908","name":"","func":"msg.payload = msg.payload.toString() + \"ppm\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":770,"y":740,"wires":[["d19d41ee.61fc"]]},{"id":"71be3ef1.59edb","type":"function","z":"a50cd5be.7c9908","name":"","func":"msg.payload = msg.payload.toString() + \"ppm\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":710,"y":820,"wires":[["83c8cec5.d05f1"]]},{"id":"ffccc739.5f9358","type":"function","z":"a50cd5be.7c9908","name":"","func":"msg.payload = msg.payload.toString() + \"ppm\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":730,"y":920,"wires":[["eb5658b0.d6f0f8"]]},{"id":"b3396d12.b9ab1","type":"inject","z":"a50cd5be.7c9908","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"10","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":150,"y":440,"wires":[["5e4b6856.e70af8","90fcda1e.56d2e8","9e2ab006.f6cb8","e6fdb290.32855","750ee913.7aab08","c8dee7fd.15de68"]]},{"id":"d9182646.a1a418","type":"inject","z":"a50cd5be.7c9908","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"30","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":230,"y":1200,"wires":[["34efe59c.ed1e3a","a73b8d1d.1a816","a1d504e6.d167f8","d6f003a0.6622"]]},{"id":"a1937492.daaf78","type":"ui_text","z":"3efa3f6b.2262b","group":"6fc8e898.b32988","order":7,"width":3,"height":1,"name":"","label":"Vận tốc","format":"{{msg.payload}}","layout":"row-left","x":660,"y":540,"wires":[]},{"id":"71ad4fcf.40a61","type":"ui_text","z":"3efa3f6b.2262b","group":"6fc8e898.b32988","order":5,"width":3,"height":1,"name":"","label":"Hướng ","format":"{{msg.payload}}","layout":"row-spread","x":840,"y":660,"wires":[]},{"id":"aa23aa78.4cc868","type":"function","z":"156cec94.edc4c3","name":"clear 3","func":"msg.payload = {\"command\":{\"clear\":\"Huy's Farm 3\"}}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":570,"y":440,"wires":[["5e76e483.5ee77c"]]},{"id":"7c2e5796.5def98","type":"function","z":"156cec94.edc4c3","name":"clear 2","func":"msg.payload = {\"command\":{\"clear\":\"Huy's Farm 2\"}}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":470,"y":640,"wires":[["5e76e483.5ee77c"]]},{"id":"12d544e5.6efb6b","type":"function","z":"156cec94.edc4c3","name":"clear 1","func":"msg.payload = {\"command\":{\"clear\":\"Huy's Farm 1\"}}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":470,"y":680,"wires":[["5e76e483.5ee77c"]]},{"id":"1ce7632a.4added","type":"function","z":"156cec94.edc4c3","name":"t10","func":"// msg1.payload = (Math.floor(Math.random() * (270 - 220 + 1) ) + 220)/10;\n\nvar i;\nvar data_10 = new Array(23.1, 23.9, 23.4, 26.6, 24.6, 24.8, 23.9, 24.4, 26.9, 22.4, 27.0, 25.9, 22.8, 22.0, 23.9, 24.6, 25.0, 25.5, 24.0, 23.5, 23.6, 23.4, 23.7, 26.6, 23.8, 23.7, 25.9, 23.5, 23.1, 26.5);\n\n\nvar data_11 = new Array(65.8, 76.8, 71.8, 76.6, 64.4, 79.4, 64.5, 74.8, 69.2, 65.8, 79.5, 64.8, 78.4, 67.0, 64.2, 73.7, 78.5, 79.7, 79.4, 75.9, 68.6, 74.9, 79.4, 66.5, 72.8, 67.7, 78.0, 71.5, 66.2, 65.2);\n\nmsg1 = {}\nmsg1.payload =[{\n    \"series\": [\"Nhiệt độ\", \"Độ ẩm\" ],\n    \"data\": [data_10, data_11],\n    \"labels\": [\"1\", \"2\", \"3\", \"4\", \"5\", \"6\", \"7\", \"8\", \"9\", \"10\",\n               \"11\", \"12\", \"13\" , \"14\", \"15\", \"16\", \"17\", \"18\", \"19\", \"20\",\n               \"21\", \"22\", \"23\", \"24\", \"25\", \"26\", \"27\", \"28\", \"29\", \"30\", \"31\"]\n}]\n\nreturn msg1;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1330,"y":180,"wires":[["3ae20b8.45181f4"]]},{"id":"3ae20b8.45181f4","type":"ui_chart","z":"156cec94.edc4c3","name":"","group":"1d19d781.32d898","order":4,"width":0,"height":0,"label":"Dữ liệu thống kê","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":true,"ymin":"0","ymax":"100","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":1800,"y":420,"wires":[[]]},{"id":"e6e71421.7a84f8","type":"function","z":"156cec94.edc4c3","name":"t11","func":"var i;\nvar data_10 = new Array(21.1, 24.6, 23.8, 23.4, 21.3, 24.9, 25.0, 23.6, 23.4, 21.1, 21.1, 24.1, 21.1, 24.8, 23.6, 25.0, 23.1, 22.7, 25.0, 24.2, 22.8, 24.5, 22.2, 25.0, 22.3, 22.5, 22.9, 24.0, 24.8, 23.7);\n\n\nvar data_11 = new Array(69.9, 75.6, 77.6, 73.4, 77.6, 75.6, 69.0, 79.3, 80.1, 69.9, 73.5, 78.0, 76.6, 72.9, 77.1, 79.8, 80.0, 78.8, 70.3, 75.2, 74.3, 79.7, 70.7, 70.2, 74.6, 77.4, 79.6, 76.3, 74.1, 80.1);\n\n\nmsg1 = {}\nmsg1.payload =[{\n    \"series\": [\"Nhiệt độ\", \"Độ ẩm\" ],\n    \"data\": [data_10, data_11],\n    \"labels\": [\"1\", \"2\", \"3\", \"4\", \"5\", \"6\", \"7\", \"8\", \"9\", \"10\",\n               \"11\", \"12\", \"13\" , \"14\", \"15\", \"16\", \"17\", \"18\", \"19\", \"20\",\n               \"21\", \"22\", \"23\", \"24\", \"25\", \"26\", \"27\", \"28\", \"29\", \"30\"]\n}]\n\nreturn msg1;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1310,"y":380,"wires":[["3ae20b8.45181f4"]]},{"id":"f260b9f5.6be188","type":"function","z":"156cec94.edc4c3","name":"t1","func":"var i;\nvar data_10 = new Array(21.1, 21.0, 21.2, 23.0, 21.5, 22.3, 21.4, 22.4, 21.8, 22.3, 21.3, 21.9, 22.3, 22.2, 22.5, 21.5, 21.6, 23.0, 22.1, 21.0);\n\n\nvar data_11 = new Array(80.0, 70.4, 84.8, 83.5, 77.5, 76.2, 84.1, 83.7, 82.9, 83.2, 70.7, 84.6, 78.6, 71.1, 77.9, 72.7, 70.9, 83.5, 78.2, 76.3);\n\nmsg1 = {}\nmsg1.payload =[{\n    \"series\": [\"Nhiệt độ\", \"Độ ẩm\" ],\n    \"data\": [data_10, data_11],\n    \"labels\": [\"1\", \"2\", \"3\", \"4\", \"5\", \"6\", \"7\", \"8\", \"9\", \"10\",\n               \"11\", \"12\", \"13\" , \"14\", \"15\", \"16\", \"17\", \"18\", \"19\", \"20\"]\n}]\n\nreturn msg1;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1290,"y":660,"wires":[["3ae20b8.45181f4"]]},{"id":"67d6dd1c.52fa94","type":"ui_text","z":"a50cd5be.7c9908","group":"d0820a0.e49a5f8","order":2,"width":0,"height":0,"name":"","label":"Độ ẩm đất 3","format":"{{msg.payload}}","layout":"row-spread","x":850,"y":1620,"wires":[]},{"id":"dc1fb0fd.e3943","type":"ui_text","z":"a50cd5be.7c9908","group":"d0820a0.e49a5f8","order":3,"width":0,"height":0,"name":"","label":"Độ ẩm đất 2","format":"{{msg.payload}}","layout":"row-spread","x":850,"y":1540,"wires":[]},{"id":"bb833a00.d89128","type":"ui_text","z":"a50cd5be.7c9908","group":"d0820a0.e49a5f8","order":4,"width":0,"height":0,"name":"","label":"Độ ẩm đất 4","format":"{{msg.payload}}","layout":"row-spread","x":850,"y":1700,"wires":[]},{"id":"a73b8d1d.1a816","type":"function","z":"a50cd5be.7c9908","name":"humidity","func":"var msg1 = {};\n\n//msg1.payload=msg.payload.Vis;\nmsg1.payload = ((Math.floor(Math.random() * (711 - 630 + 1) ) + 630)/10);\n\nmsg1.payload=msg1.payload.toString() + \"%\";\n\nreturn msg1;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":580,"y":1540,"wires":[["dc1fb0fd.e3943"]]},{"id":"a1d504e6.d167f8","type":"function","z":"a50cd5be.7c9908","name":"humidity","func":"var msg1 = {};\n\n//msg1.payload=msg.payload.Vis;\nmsg1.payload = ((Math.floor(Math.random() * (711 - 630 + 1) ) + 630)/10);\n\nmsg1.payload=msg1.payload.toString() + \"%\";\n\nreturn msg1;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":580,"y":1620,"wires":[["67d6dd1c.52fa94"]]},{"id":"d6f003a0.6622","type":"function","z":"a50cd5be.7c9908","name":"humidity","func":"var msg1 = {};\n\n//msg1.payload=msg.payload.Vis;\nmsg1.payload = ((Math.floor(Math.random() * (711 - 630 + 1) ) + 630)/10);\n\nmsg1.payload=msg1.payload.toString() + \"%\";\n\nreturn msg1;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":580,"y":1700,"wires":[["bb833a00.d89128"]]},{"id":"7953d1d9.17ad8","type":"ui_text","z":"156cec94.edc4c3","group":"c23bea88.f794b8","order":1,"width":0,"height":0,"name":"","label":"Chú thích: ","format":"Lựa chọn dữ liệu của các tháng tại các button cột bên","layout":"row-left","x":1070,"y":100,"wires":[]},{"id":"8f518fe6.da6b8","type":"ui_template","z":"156cec94.edc4c3","group":"c23bea88.f794b8","name":"","order":3,"width":2,"height":6,"format":"<h4>Thang màu</h4>\n<h4>NVDI trung bình</h4>\n<img src=\"/img/scale.png\" alt=\"Thanh đo NVDI\">","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":140,"y":160,"wires":[[]]},{"id":"d08af634.b62198","type":"ui_template","z":"a50cd5be.7c9908","group":"d0820a0.e49a5f8","name":"","order":5,"width":0,"height":0,"format":"<h4>Trạng thái máy bơm</h4>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":860,"y":1240,"wires":[[]]},{"id":"822d9f55.2ace6","type":"ui_template","z":"a50cd5be.7c9908","group":"4496aa3c.8d0be4","name":"image","order":1,"width":10,"height":18,"format":"\n<img src=\"/img/test2.png\" alt=\"Vị trí cảm biến\">","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":90,"y":200,"wires":[[]]},{"id":"338175cf.cf255a","type":"ui_template","z":"a50cd5be.7c9908","group":"61c61962.545548","name":"","order":1,"width":7,"height":3,"format":"<h3>Chú thích</h3>\n<p>Node màu trắng: Cảm biến độ ẩm mặt đất</p>\n<p>Node màu tím: Cảm biến ánh sáng và không khí</p>\n<p>Node màu xanh: Trạm quan trắc thời tiết</p>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":70,"y":160,"wires":[[]]}]