Node-RED/flows 3.json
[{"id":"5ac8c535.01774c","type":"tab","label":"Mushroom","disabled":true,"info":""},{"id":"a50cd5be.7c9908","type":"tab","label":"IoT-Network","disabled":false,"info":""},{"id":"156cec94.edc4c3","type":"tab","label":"Farm","disabled":false,"info":""},{"id":"2f189496.9c3bfc","type":"tab","label":"Vegetable","disabled":true,"info":""},{"id":"76802dd2.e975c4","type":"tab","label":"MapIR","disabled":true,"info":""},{"id":"c5f4cf98.537db","type":"tab","label":"Villa","disabled":true,"info":""},{"id":"47bd8dd6.6516e4","type":"tab","label":"UAV","disabled":false,"info":""},{"id":"d2fbcc62.2d366","type":"tab","label":"MongoDB","disabled":false,"info":""},{"id":"6b68c026.9c58a","type":"mqtt-broker","name":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"4ec9b901.59ae88","type":"ui_base","theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#097479","value":"#097479","edited":false},"page-titlebar-backgroundColor":{"value":"#097479","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#333333","edited":false},"group-textColor":{"value":"#0eb8c0","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#097479","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"grey","accents":"teal","warn":"red","background":"grey","palette":"dark"}},"site":{"name":"CIT Lab IoT System","hideToolbar":"false","allowSwipe":"true","lockMenu":"false","allowTempTheme":"false","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":12,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"6fc8e898.b32988","type":"ui_group","name":"Trạm quan trắc thời tiết","tab":"1f10b717.e2b6f9","order":1,"disp":true,"width":7,"collapse":false},{"id":"9171f342.126b4","type":"ui_group","name":"Sensors Data","tab":"d214e78.e525218","order":2,"disp":true,"width":"9","collapse":false},{"id":"ca2272c3.e8396","type":"ui_group","name":"Group 1","tab":"","order":1,"disp":true,"width":6},{"id":"e16e06ca.f38438","type":"ui_group","name":"Frame Statistics","tab":"","order":2,"disp":true,"width":"6"},{"id":"cb67921.cf4df7","type":"ui_group","name":"Video Capture","tab":"","order":3,"disp":true,"width":"6"},{"id":"984422e9.d6d96","type":"ui_group","name":"Video Statistics","tab":"","order":4,"disp":true,"width":"6"},{"id":"a06d1d6b.bdef2","type":"ui_group","name":"Report","tab":"","order":5,"disp":true,"width":"12"},{"id":"728062e6.d14fbc","type":"ui_group","name":"Cảm biến không khí và ánh sáng","tab":"1f10b717.e2b6f9","order":2,"disp":true,"width":6,"collapse":false},{"id":"50414e23.56292","type":"ui_group","name":"Thiết bị","tab":"1f10b717.e2b6f9","order":3,"disp":true,"width":"5","collapse":false},{"id":"241e0d01.9960c2","type":"ui_group","name":"Devices","tab":"d214e78.e525218","order":2,"disp":true,"width":"6","collapse":false},{"id":"e33a8afd.dabcd8","type":"ui_group","name":"Map","tab":"1f10b717.e2b6f9","order":4,"disp":true,"width":"6","collapse":false},{"id":"378c47cb.fab618","type":"ui_group","name":"UAV","tab":"1f10b717.e2b6f9","order":5,"disp":true,"width":8,"collapse":false},{"id":"d214e78.e525218","type":"ui_tab","name":"Mushroom","icon":"dashboard","order":4,"disabled":false,"hidden":false},{"id":"ae47cffa.963c78","type":"ui_tab","d":true,"name":"Thực nghiệm tại Villa","icon":"dashboard","order":3,"disabled":false,"hidden":false},{"id":"1f10b717.e2b6f9","type":"ui_tab","name":"Thông tin cảm biến","icon":"dashboard","order":2,"disabled":false,"hidden":false},{"id":"1699a7e0.3b6d48","type":"ui_group","name":"Group 6","tab":"","order":6,"disp":true,"width":6},{"id":"8ad91365.e158c","type":"ui_tab","name":"Thực nghiệm nông trại 1","icon":"dashboard","order":5,"disabled":false,"hidden":false},{"id":"aa9b8fab.0eaff","type":"ui_group","name":"Bản đồ","tab":"8ad91365.e158c","order":3,"disp":true,"width":"18","collapse":false},{"id":"8b83d6e4.ce7938","type":"ui_group","name":"Data","tab":"8ad91365.e158c","order":4,"disp":true,"width":"6","collapse":false},{"id":"a7af9146.7e47b","type":"ui_tab","name":"Bản đồ","icon":"dashboard","order":6,"disabled":false,"hidden":false},{"id":"c23bea88.f794b8","type":"ui_group","name":"Bản đồ","tab":"a7af9146.7e47b","order":1,"disp":true,"width":15,"collapse":false},{"id":"1d19d781.32d898","type":"ui_group","name":"Data","tab":"a7af9146.7e47b","order":2,"disp":true,"width":"7","collapse":false},{"id":"8e85299d.ac7a78","type":"ui_tab","name":"Ví dụ MapIR","icon":"dashboard","order":7,"disabled":false,"hidden":false},{"id":"b7f7f2b8.16348","type":"ui_group","name":"Bản đồ","tab":"8e85299d.ac7a78","order":1,"disp":true,"width":"18","collapse":false},{"id":"de9cc52b.92bbd8","type":"ui_group","name":"Data","tab":"8e85299d.ac7a78","order":2,"disp":true,"width":"6","collapse":false},{"id":"ae832f82.427e2","type":"ui_group","name":"Data","tab":"ae47cffa.963c78","order":2,"disp":true,"width":6,"collapse":false},{"id":"7385b1f6.33835","type":"ui_group","name":"Bản đồ","tab":"ae47cffa.963c78","order":1,"disp":true,"width":"18","collapse":false},{"id":"d89eb2c3.ecb6b","type":"ui_spacer","name":"spacer","group":"d8596899.c56458","order":1,"width":1,"height":1},{"id":"edddb523.21c958","type":"ui_spacer","name":"spacer","group":"7385b1f6.33835","order":2,"width":12,"height":1},{"id":"7388091a.415248","type":"ui_spacer","name":"spacer","group":"7385b1f6.33835","order":3,"width":12,"height":1},{"id":"4c7d8fa5.047bc","type":"ui_spacer","name":"spacer","group":"7385b1f6.33835","order":4,"width":12,"height":1},{"id":"2999ec2d.af5104","type":"ui_spacer","name":"spacer","group":"7385b1f6.33835","order":5,"width":12,"height":1},{"id":"ef9f3915.073188","type":"ui_spacer","name":"spacer","group":"7385b1f6.33835","order":6,"width":12,"height":1},{"id":"cb318c1a.a342a","type":"ui_spacer","name":"spacer","group":"7385b1f6.33835","order":7,"width":12,"height":1},{"id":"f03de58.4bee918","type":"ui_spacer","name":"spacer","group":"7385b1f6.33835","order":8,"width":12,"height":1},{"id":"646a5d41.4c6fc4","type":"ui_spacer","name":"spacer","group":"7385b1f6.33835","order":9,"width":12,"height":1},{"id":"b28b87b4.11d688","type":"ui_spacer","name":"spacer","group":"7385b1f6.33835","order":10,"width":12,"height":1},{"id":"94d2f684.d1bb58","type":"ui_spacer","name":"spacer","group":"7385b1f6.33835","order":11,"width":12,"height":1},{"id":"84a68546.7b2868","type":"ui_spacer","name":"spacer","group":"7385b1f6.33835","order":12,"width":12,"height":1},{"id":"d094fd81.f077b","type":"ui_spacer","name":"spacer","group":"7385b1f6.33835","order":13,"width":12,"height":1},{"id":"4eac5635.ed5d58","type":"ui_spacer","name":"spacer","group":"7385b1f6.33835","order":14,"width":12,"height":1},{"id":"87d1c234.4a7b5","type":"ui_spacer","name":"spacer","group":"7385b1f6.33835","order":15,"width":12,"height":1},{"id":"b0828cf4.4e764","type":"ui_spacer","name":"spacer","group":"7385b1f6.33835","order":16,"width":12,"height":1},{"id":"9f1c0f50.ff981","type":"ui_spacer","name":"spacer","group":"7385b1f6.33835","order":17,"width":12,"height":1},{"id":"516de477.125b8c","type":"mongodb","hostname":"127.0.0.1","port":"27017","db":"","name":""},{"id":"2e197e9e.a91e32","type":"mongodb","hostname":"127.0.0.1","port":"27017","db":"LoRaNetwork","name":""},{"id":"85566e08.1f8c9","type":"mongodb3","uri":"mongodb://127.0.0.1:27017/LoRaNetwork","name":"test","options":"","parallelism":"-1"},{"id":"416195d1.8f432c","type":"ui_group","name":"Độ ẩm đất","tab":"1f10b717.e2b6f9","order":6,"disp":true,"width":"6","collapse":false},{"id":"1ebe6305.3aa6ad","type":"ui_group","name":"LAB","tab":"","order":3,"disp":false,"width":"6","collapse":false},{"id":"9fc58283.b7f35","type":"ui_tab","name":"Dữ liệu thông kê","icon":"dashboard","disabled":false,"hidden":false},{"id":"49320dbb.12f234","type":"ui_group","name":"Trạm quan trắc thời tiết","tab":"9fc58283.b7f35","order":2,"disp":true,"width":"6","collapse":false},{"id":"d9dfd652.720028","type":"ui_group","name":"Ánh sáng","tab":"9fc58283.b7f35","order":3,"disp":true,"width":"6","collapse":false},{"id":"35b6fe68.9007e2","type":"ui_group","name":"Vận tốc gió trung bình","tab":"9fc58283.b7f35","order":4,"disp":true,"width":"6","collapse":false},{"id":"4beb4154.32191","type":"ui_group","name":"Đánh giá sinh trưởng","tab":"a7af9146.7e47b","order":4,"disp":true,"width":9,"collapse":false},{"id":"a531c31a.c0f06","type":"ui_group","name":"Chế độ xem","tab":"9fc58283.b7f35","order":1,"disp":true,"width":"3","collapse":false},{"id":"17396ddb.290db2","type":"mqtt in","z":"5ac8c535.01774c","name":"","topic":"sensor/mushroom/001","qos":"2","datatype":"auto","broker":"6b68c026.9c58a","x":160,"y":240,"wires":[["48b7139e.b6e52c"]]},{"id":"48b7139e.b6e52c","type":"json","z":"5ac8c535.01774c","name":"","property":"payload","action":"","pretty":false,"x":380,"y":240,"wires":[["2107fafd.f24ed6","a2772b97.ed7518","aa7f9652.738db8"]]},{"id":"2107fafd.f24ed6","type":"function","z":"5ac8c535.01774c","name":"temperature","func":"var msg2 = {};\n\nmsg2.payload=msg.payload.t;\nmsg2.topic = 'Temperature';\n\nreturn msg2;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":630,"y":100,"wires":[["30957b37.125ac4"]]},{"id":"a2772b97.ed7518","type":"function","z":"5ac8c535.01774c","name":"humidity","func":"var msg1 = {};\n\nmsg1.payload=msg.payload.h;\nmsg1.topic = 'Humidity';\n\nreturn msg1;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":620,"y":200,"wires":[["30957b37.125ac4"]]},{"id":"aa7f9652.738db8","type":"function","z":"5ac8c535.01774c","name":"water temperature","func":"var msg3 = {};\n\nmsg3.payload=msg.payload.tW;\nmsg3.topic = 'Water Temperature';\n\nreturn msg3;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":630,"y":340,"wires":[["30957b37.125ac4"]]},{"id":"23bc7279.fd195e","type":"mqtt in","z":"5ac8c535.01774c","name":"","topic":"garden1/pump1","qos":"2","datatype":"auto","broker":"6b68c026.9c58a","x":140,"y":500,"wires":[["1e0d0042.5d078"]]},{"id":"2605fb62.ae8034","type":"mqtt in","z":"5ac8c535.01774c","name":"","topic":"garden1/fan1","qos":"2","datatype":"auto","broker":"6b68c026.9c58a","x":130,"y":600,"wires":[["55986f90.7cf1f"]]},{"id":"18b56e3b.011672","type":"mqtt in","z":"5ac8c535.01774c","name":"","topic":"garden1/light1","qos":"2","datatype":"auto","broker":"6b68c026.9c58a","x":130,"y":720,"wires":[["bc8f2e.970890d"]]},{"id":"1e0d0042.5d078","type":"json","z":"5ac8c535.01774c","name":"","property":"payload","action":"","pretty":false,"x":370,"y":500,"wires":[["519e2aae.faf0e4"]]},{"id":"519e2aae.faf0e4","type":"function","z":"5ac8c535.01774c","name":"","func":"if(msg.payload.status===\"p1\") msg.payload=\"ON\";\nelse msg.payload=\"OFF\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":580,"y":500,"wires":[["c3ef4919.349908"]]},{"id":"55986f90.7cf1f","type":"json","z":"5ac8c535.01774c","name":"","property":"payload","action":"","pretty":false,"x":370,"y":600,"wires":[["6ca63073.994e5"]]},{"id":"bc8f2e.970890d","type":"json","z":"5ac8c535.01774c","name":"","property":"payload","action":"","pretty":false,"x":370,"y":720,"wires":[["bb0585ae.831438"]]},{"id":"6ca63073.994e5","type":"function","z":"5ac8c535.01774c","name":"","func":"if(msg.payload.status===\"f1\") msg.payload=\"ON\";\nelse msg.payload=\"OFF\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":590,"y":600,"wires":[["8c1c90b7.f2809"]]},{"id":"bb0585ae.831438","type":"function","z":"5ac8c535.01774c","name":"","func":"if(msg.payload.status===\"l1\") msg.payload=\"ON\";\nelse msg.payload=\"OFF\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":610,"y":720,"wires":[["86c4f364.3536b"]]},{"id":"f8aaade4.ecec4","type":"mqtt out","z":"5ac8c535.01774c","name":"","topic":"garden1/pump1","qos":"2","retain":"","broker":"6b68c026.9c58a","x":410,"y":860,"wires":[]},{"id":"31298665.aa6c9a","type":"mqtt out","z":"5ac8c535.01774c","name":"","topic":"garden1/fan1","qos":"2","retain":"","broker":"6b68c026.9c58a","x":390,"y":960,"wires":[]},{"id":"40eed22d.0f9dfc","type":"mqtt out","z":"5ac8c535.01774c","name":"","topic":"garden1/light1","qos":"2","retain":"","broker":"6b68c026.9c58a","x":400,"y":1060,"wires":[]},{"id":"31a60c8d.096094","type":"mqtt in","z":"5ac8c535.01774c","name":"","topic":"garden1/temp1","qos":"2","datatype":"auto","broker":"6b68c026.9c58a","x":140,"y":800,"wires":[["c022c38d.e331e"]]},{"id":"c022c38d.e331e","type":"json","z":"5ac8c535.01774c","name":"","property":"payload","action":"","pretty":false,"x":360,"y":800,"wires":[["cbc67a74.b9d488"]]},{"id":"cbc67a74.b9d488","type":"function","z":"5ac8c535.01774c","name":"","func":"if(msg.payload.status===\"t1\") msg.payload=\"ON\";\nelse msg.payload=\"OFF\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":600,"y":800,"wires":[["68909ac7.7fbd54"]]},{"id":"508949e8.6f6878","type":"mqtt out","z":"5ac8c535.01774c","name":"","topic":"garden1/temp1","qos":"","retain":"","broker":"6b68c026.9c58a","x":410,"y":1140,"wires":[]},{"id":"e1e01a0c.d44798","type":"function","z":"156cec94.edc4c3","name":"Map 1","func":"var imageBounds = [[20.978983,106.299953], [20.980153,106.300958]];\nmsg.payload = { command : { lat:20.978983, lon:106.299953, zoom:18 } }\nmsg.payload.command.map = {\n    overlay: \"Huy's Farm\",\n    url: 'http://citlab.myftp.org:8000/cgi-bin/qgis_mapserv.fcgi?SERVICE=WMS&REQUEST=GetMap&VERSION=1.3.0&SRS=EPSG:4326&BBOX=20.978983,106.299953,20.980153,106.300958&MAP=/home/citlab/qgis/test1.qgz&WIDTH=2000&HEIGHT=2000&LAYERS=HaiDuong-RedEdge_rgba_ndvi,next,next2,next3&FORMAT=image/png&TRANSPARENT=TRUE',\n    bounds: imageBounds,\n    opt: { opacity:0.8, attribution:\"&copy; CITLAB-IoT System\" }\n};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":830,"y":80,"wires":[["5e76e483.5ee77c"]]},{"id":"5e76e483.5ee77c","type":"worldmap","z":"156cec94.edc4c3","name":"Farm","lat":"","lon":"","zoom":"","layer":"Esri Satellite","cluster":"","maxage":"","usermenu":"show","layers":"show","panit":"false","panlock":"false","zoomlock":"false","hiderightclick":"false","coords":"deg","showgrid":"false","allowFileDrop":"false","path":"/farm","x":1350,"y":520,"wires":[]},{"id":"1b34b2b6.ebf29d","type":"json","z":"a50cd5be.7c9908","name":"","property":"payload","action":"","pretty":false,"x":350,"y":840,"wires":[["c8dee7fd.15de68","5e4b6856.e70af8","90fcda1e.56d2e8","9e2ab006.f6cb8","df83bce1.b7843","977cf216.29497","436f749f.f75b4c"]]},{"id":"3ba30977.440126","type":"json","z":"a50cd5be.7c9908","name":"","property":"payload","action":"","pretty":false,"x":370,"y":360,"wires":[["bc0cbe77.b2db2","f3305060.8e795","73205599.94321c","e6fdb290.32855","750ee913.7aab08","62cde69d.482f68","8387cd2.dab313","63f76584.a5324c","8546b622.490d88","20196eda.566092","1bd6620e.9a574e"]]},{"id":"bc0cbe77.b2db2","type":"function","z":"a50cd5be.7c9908","name":"Wind Direction","func":"var msg1 = {};\n\nmsg1.payload=msg.payload.wd.toString() + \"độ\";\n\nreturn msg1;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":520,"y":40,"wires":[["f7aa5a83.b914f8"]]},{"id":"f3305060.8e795","type":"function","z":"a50cd5be.7c9908","name":"Average Wind Speed","func":"var msg1 = {};\n\nmsg1.payload=msg.payload.aws.toString() + \"m/s\";\n\nreturn msg1;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":680,"y":80,"wires":[["d4bb1299.e348b"]]},{"id":"73205599.94321c","type":"function","z":"a50cd5be.7c9908","name":"Max Wind Speed","func":"var msg1 = {};\n\nmsg1.payload=msg.payload.mws.toString() + \"m/s\";\n\nreturn msg1;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":670,"y":140,"wires":[["845f5fb0.74b02"]]},{"id":"e6fdb290.32855","type":"function","z":"a50cd5be.7c9908","name":"Rain Fall (once hour)","func":"var msg1 = {};\n\n// msg1.payload=msg.payload.rf1.toString() + \"mm\";\nmsg1.payload=\"0.00\" + \"mm\";\n\nreturn msg1;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":680,"y":180,"wires":[["c0802a1a.999338"]]},{"id":"750ee913.7aab08","type":"function","z":"a50cd5be.7c9908","name":"Rain Fall (24 Hour)","func":"var msg1 = {};\n\n//msg1.payload=msg.payload.rf24.toString() + \"mm\";\nmsg1.payload=\"0.00\" + \"mm\";\n\nreturn msg1;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":670,"y":220,"wires":[["d746a2c4.b233f"]]},{"id":"62cde69d.482f68","type":"function","z":"a50cd5be.7c9908","name":"Temperature","func":"var msg1 = {};\n\nmsg1.payload=msg.payload.t.toString() + \"*C\";\n\nreturn msg1;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":650,"y":260,"wires":[["bb4d5053.b6e87"]]},{"id":"8387cd2.dab313","type":"function","z":"a50cd5be.7c9908","name":"Humidity","func":"var msg1 = {};\n\nmsg1.payload=msg.payload.h.toString() + \"%\";\n\nreturn msg1;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":660,"y":300,"wires":[["940b524d.b2c7c"]]},{"id":"63f76584.a5324c","type":"function","z":"a50cd5be.7c9908","name":"Barometric Pressure","func":"var msg1 = {};\n\nmsg1.payload=msg.payload.b.toString() + \"hPa\";\n\nreturn msg1;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":680,"y":360,"wires":[["a57201f5.03ae7"]]},{"id":"c8dee7fd.15de68","type":"function","z":"a50cd5be.7c9908","name":"Light ","func":"var msg1 = {};\n\nmsg1.payload=msg.payload.Vis;\n\nreturn msg1;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":570,"y":660,"wires":[["d13703c3.d97c"]]},{"id":"5e4b6856.e70af8","type":"function","z":"a50cd5be.7c9908","name":"CO","func":"var ran = Math.floor(Math.random() * 100);\n\nvar msg1 = {};\n\nmsg1.payload=(((parseFloat(msg.payload.CO)+ ran)/1000).toFixed(2)).toString() + \"ppm\";\n\nreturn msg1;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":590,"y":720,"wires":[["d19d41ee.61fc"]]},{"id":"90fcda1e.56d2e8","type":"function","z":"a50cd5be.7c9908","name":"NH3","func":"var ran = Math.floor(Math.random() * 100);\nvar msg1 = {};\n\nmsg1.payload=(((parseFloat(msg.payload.NH3) + ran)/10000).toFixed(2)).toString() + \"ppm\";\n\nreturn msg1;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":580,"y":780,"wires":[["83c8cec5.d05f1"]]},{"id":"9e2ab006.f6cb8","type":"function","z":"a50cd5be.7c9908","name":"NO2","func":"var ran = Math.floor(Math.random() * 100);\nvar msg1 = {};\n\nmsg1.payload=(((parseFloat(msg.payload.NO2)+ ran)/1000).toFixed(2)).toString() + \"ppm\";\n\nreturn msg1;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":590,"y":880,"wires":[["eb5658b0.d6f0f8"]]},{"id":"36c16618.a0456a","type":"mqtt in","z":"a50cd5be.7c9908","name":"","topic":"garden1/pump1","qos":"2","datatype":"auto","broker":"6b68c026.9c58a","x":140,"y":1300,"wires":[["e2ef4d5.63210b"]]},{"id":"e2ef4d5.63210b","type":"json","z":"a50cd5be.7c9908","name":"","property":"payload","action":"","pretty":false,"x":390,"y":1360,"wires":[["666416bd.b0cbf8"]]},{"id":"666416bd.b0cbf8","type":"function","z":"a50cd5be.7c9908","name":"","func":"if(msg.payload.status===\"p1\") msg.payload=\"ON\";\nelse msg.payload=\"OFF\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":640,"y":1360,"wires":[["9dd5b1eb.a0f9c"]]},{"id":"76680393.1ff73c","type":"mqtt in","z":"a50cd5be.7c9908","name":"","topic":"/LoRa","qos":"2","datatype":"auto","broker":"6b68c026.9c58a","x":110,"y":320,"wires":[["401de54b.b269cc","a6a12b54.ba5198"]]},{"id":"401de54b.b269cc","type":"function","z":"a50cd5be.7c9908","name":"","func":"msg.payload =  (msg.payload).toString();\nvar c = msg.payload.indexOf(\"c\");\nvar s = msg.payload.indexOf(\"s\");\nvar g = msg.payload.indexOf(\"g\");\nvar t = msg.payload.indexOf(\"t\",15);\nvar r = msg.payload.indexOf(\"r\");\nvar p = msg.payload.indexOf(\"p\");\nvar h = msg.payload.indexOf(\"h\");\nvar b = msg.payload.indexOf(\"b\");\n\nvar msg1 = {};\nmsg1.payload = '{\"wd\":' + parseInt(msg.payload.substr(c+1,3)) + ',' +\n            '\"aws\":' + parseInt(msg.payload.substr(s+1,3))*0.44704 + ',' +\n            '\"mws\":' + parseInt(msg.payload.substr(g+1,3))*0.44704 + ',' +\n            '\"rf1\":' + parseInt(msg.payload.substr(r+1,3))*25.40*0.01 + ',' +\n            '\"rf24\":' + parseInt(msg.payload.substr(p+1,3))*25.04*0.01 + ',' +\n            '\"t\":' + ((parseInt(msg.payload.substr(t+1,3))-32.00)*5.00/9.00).toFixed(2) + ','+\n\t    '\"h\":' + parseInt(msg.payload.substr(h+1,2)) + ',' +\n\t    '\"b\":' + parseInt(msg.payload.substr(b+1,5))/10.00 + '}';\n            \nreturn msg1;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":300,"y":260,"wires":[["3ba30977.440126","e89d08d8.e23018"]]},{"id":"ebbadf21.1a977","type":"mqtt in","z":"a50cd5be.7c9908","name":"","topic":"/CJMCU","qos":"2","datatype":"auto","broker":"6b68c026.9c58a","x":80,"y":700,"wires":[["abde16f2.63b518"]]},{"id":"abde16f2.63b518","type":"function","z":"a50cd5be.7c9908","name":"","func":"var co = msg.payload.indexOf(\"C0\");\nvar nh3 = msg.payload.indexOf(\"NH3\");\nvar no2 = msg.payload.indexOf(\"NO2\");\nvar vis = msg.payload.indexOf(\"Vis\");\nvar ir = msg.payload.indexOf(\"IR\");\nvar uv = msg.payload.indexOf(\"UV\");\n\nvar msg1 = {};\nmsg1.payload = '{\"CO\":' + msg.payload.slice(co+3,nh3) + ',' +\n            '\"NH3\":' + msg.payload.slice(nh3+4,no2) + ',' +\n            '\"NO2\":' + msg.payload.slice(no2+4,vis) + ',' +\n            '\"Vis\":' + msg.payload.slice(vis+4,ir) + ',' +\n            '\"IR\":' + msg.payload.slice(ir+3,uv) + ',' +\n            '\"UV\":' + msg.payload.substr(uv+3,3) + '}';\n            \n//msg1.payload.nh3 = msg.payload.slice(nh3+4,no2);\n//msg1.payload.no2 = msg.payload.slice(no2+4,vis);\n//msg1.payload.vis = msg.payload.slice(vis+4,ir);\n//msg1.payload.ir = msg.payload.slice(ir+3,uv);\n//msg1.payload.uv = msg.payload.substr(uv+3,3);\n\nreturn msg1;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":120,"y":540,"wires":[["1b34b2b6.ebf29d"]]},{"id":"89b22925.6a5a68","type":"ui_button","z":"156cec94.edc4c3","name":"","group":"1d19d781.32d898","order":1,"width":7,"height":1,"passthru":false,"label":"Bản đồ tháng 10","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"date","topic":"","x":140,"y":180,"wires":[["32ebbfe4.77ee5","accfc0ac.8f137","9f6f8ed3.4e66b","2b16a406.41c3ac","393db42b.58c3ec","f1a02e54.ce9ab","a43a5d40.fd877","5c4bd6f4.9d4118"]]},{"id":"fbeee10b.05122","type":"ui_switch","z":"5ac8c535.01774c","name":"fan control","label":"Light Control","tooltip":"","group":"241e0d01.9960c2","order":4,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"{\"status\" : \"f1\"} ","onvalueType":"json","onicon":"","oncolor":"","offvalue":"{\"status\" : \"f0\"} ","offvalueType":"json","officon":"","offcolor":"","x":130,"y":960,"wires":[["31298665.aa6c9a"]]},{"id":"67ef395a.e88778","type":"ui_switch","z":"5ac8c535.01774c","name":"light control","label":"Fan Control","tooltip":"","group":"241e0d01.9960c2","order":6,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"{\"status\" : \"l1\"} ","onvalueType":"json","onicon":"","oncolor":"","offvalue":"{\"status\" : \"l0\"} ","offvalueType":"json","officon":"","offcolor":"","x":130,"y":1060,"wires":[["40eed22d.0f9dfc"]]},{"id":"37556621.71e81a","type":"ui_switch","z":"5ac8c535.01774c","name":"pumb control","label":"Pump Control","tooltip":"","group":"241e0d01.9960c2","order":2,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"{\"status\" : \"p1\"} ","onvalueType":"json","onicon":"","oncolor":"","offvalue":"{\"status\" : \"p0\"} ","offvalueType":"json","officon":"","offcolor":"","x":140,"y":860,"wires":[["f8aaade4.ecec4"]]},{"id":"502b67b.31efc98","type":"ui_switch","z":"5ac8c535.01774c","name":"","label":"Heating Control","tooltip":"","group":"241e0d01.9960c2","order":8,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"{\"status\" : \"t1\"} ","onvalueType":"json","onicon":"","oncolor":"","offvalue":"{\"status\" : \"t0\"} ","offvalueType":"json","officon":"","offcolor":"","x":120,"y":1140,"wires":[["508949e8.6f6878"]]},{"id":"c3ef4919.349908","type":"ui_text","z":"5ac8c535.01774c","group":"241e0d01.9960c2","order":1,"width":"6","height":"1","name":"pump","label":"Pump","format":"{{msg.payload}}","layout":"row-spread","x":810,"y":500,"wires":[]},{"id":"8c1c90b7.f2809","type":"ui_text","z":"5ac8c535.01774c","group":"241e0d01.9960c2","order":3,"width":"6","height":"1","name":"fan","label":"Light","format":"{{msg.payload}}","layout":"row-spread","x":820,"y":600,"wires":[]},{"id":"86c4f364.3536b","type":"ui_text","z":"5ac8c535.01774c","group":"241e0d01.9960c2","order":5,"width":"6","height":"1","name":"light","label":"Fan","format":"{{msg.payload}}","layout":"row-spread","x":810,"y":720,"wires":[]},{"id":"68909ac7.7fbd54","type":"ui_text","z":"5ac8c535.01774c","group":"241e0d01.9960c2","order":7,"width":"6","height":"1","name":"heating","label":"Heating","format":"{{msg.payload}}","layout":"row-spread","x":820,"y":800,"wires":[]},{"id":"f7aa5a83.b914f8","type":"ui_text","z":"a50cd5be.7c9908","group":"6fc8e898.b32988","order":1,"width":0,"height":0,"name":"Wind Direction","label":"Hướng gió","format":"{{msg.payload}}","layout":"row-spread","x":1050,"y":40,"wires":[]},{"id":"d4bb1299.e348b","type":"ui_text","z":"a50cd5be.7c9908","group":"6fc8e898.b32988","order":2,"width":0,"height":0,"name":"Average Wind Speed","label":"Vận tốc gió trung bình","format":"{{msg.payload}}","layout":"row-spread","x":1040,"y":80,"wires":[]},{"id":"845f5fb0.74b02","type":"ui_text","z":"a50cd5be.7c9908","group":"6fc8e898.b32988","order":3,"width":0,"height":0,"name":"Max Wind Speed","label":"Vận tốc gió lớn nhất","format":"{{msg.payload}}","layout":"row-spread","x":1030,"y":120,"wires":[]},{"id":"c0802a1a.999338","type":"ui_text","z":"a50cd5be.7c9908","group":"6fc8e898.b32988","order":4,"width":0,"height":0,"name":"Rain Fall (once hour)","label":"Lượng mưa (theo giờ)","format":"{{msg.payload}}","layout":"row-spread","x":1020,"y":160,"wires":[]},{"id":"d746a2c4.b233f","type":"ui_text","z":"a50cd5be.7c9908","group":"6fc8e898.b32988","order":5,"width":0,"height":0,"name":"Rain Fall (24 Hour)","label":"Lượng mưa (theo ngày)","format":"{{msg.payload}}","layout":"row-spread","x":1030,"y":200,"wires":[]},{"id":"bb4d5053.b6e87","type":"ui_text","z":"a50cd5be.7c9908","group":"6fc8e898.b32988","order":6,"width":0,"height":0,"name":"Temperature","label":"Nhiệt độ","format":"{{msg.payload}}","layout":"row-spread","x":1010,"y":240,"wires":[]},{"id":"940b524d.b2c7c","type":"ui_text","z":"a50cd5be.7c9908","group":"6fc8e898.b32988","order":7,"width":0,"height":0,"name":"Humidity","label":"Độ ẩm","format":"{{msg.payload}}","layout":"row-spread","x":1040,"y":280,"wires":[]},{"id":"a57201f5.03ae7","type":"ui_text","z":"a50cd5be.7c9908","group":"6fc8e898.b32988","order":8,"width":0,"height":0,"name":"Barometric Pressure","label":"Áp suất không khí","format":"{{msg.payload}}","layout":"row-spread","x":1000,"y":320,"wires":[]},{"id":"d13703c3.d97c","type":"ui_text","z":"a50cd5be.7c9908","group":"728062e6.d14fbc","order":1,"width":0,"height":0,"name":"Light","label":"Ánh sáng","format":"{{msg.payload}}","layout":"row-spread","x":930,"y":700,"wires":[]},{"id":"d19d41ee.61fc","type":"ui_text","z":"a50cd5be.7c9908","group":"728062e6.d14fbc","order":2,"width":0,"height":0,"name":"CO","label":"Nồng độ CO","format":"{{msg.payload}}","layout":"row-spread","x":1070,"y":740,"wires":[]},{"id":"83c8cec5.d05f1","type":"ui_text","z":"a50cd5be.7c9908","group":"728062e6.d14fbc","order":3,"width":0,"height":0,"name":"NH3","label":"Nồng độ khí NH3","format":"{{msg.payload}}","layout":"row-spread","x":1070,"y":780,"wires":[]},{"id":"eb5658b0.d6f0f8","type":"ui_text","z":"a50cd5be.7c9908","group":"728062e6.d14fbc","order":4,"width":0,"height":0,"name":"NO2","label":"Nồng độ khí NO2","format":"{{msg.payload}}","layout":"row-spread","x":1090,"y":860,"wires":[]},{"id":"9dd5b1eb.a0f9c","type":"ui_text","z":"a50cd5be.7c9908","group":"50414e23.56292","order":1,"width":0,"height":0,"name":"pump","label":"Máy bơm","format":"{{msg.payload}}","layout":"row-spread","x":910,"y":1300,"wires":[]},{"id":"30957b37.125ac4","type":"ui_chart","z":"5ac8c535.01774c","name":"","group":"9171f342.126b4","order":0,"width":0,"height":0,"label":"Sensors Data","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"Sensors Data","dot":true,"ymin":"0","ymax":"100","removeOlder":1,"removeOlderPoints":"15","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"x":1010,"y":240,"wires":[[]]},{"id":"98c872c8.5f717","type":"worldmap","z":"2f189496.9c3bfc","name":"Vegetable","lat":"","lon":"","zoom":"","layer":"Esri Satellite","cluster":"","maxage":"","usermenu":"show","layers":"show","panit":"false","panlock":"false","zoomlock":"false","hiderightclick":"false","coords":"none","showgrid":"false","allowFileDrop":"false","path":"/worldmap","x":860,"y":240,"wires":[]},{"id":"aa8c295.98257d8","type":"function","z":"2f189496.9c3bfc","name":"map layer","func":"var imageBounds = [[20.97052559402639815,105.45404442829773473], [20.97314297868867072,105.45875820162315506]];\nmsg.payload = { command : { lat:20.97082559402639815, lon:105.45604442829773473, zoom:18 } }\nmsg.payload.command.map = {\n    overlay: \"Vegetable\",\n    url: 'http://citlab.myftp.org:8000/cgi-bin/qgis_mapserv.fcgi?SERVICE=WMS&REQUEST=GetMap&VERSION=1.3.0&SRS=EPSG:4326&BBOX=20.97052559402639815,105.45404442829773473,20.97314297868867072,105.45875820162315506&MAP=/home/citlab/qgis/test1.qgz&WIDTH=1000&HEIGHT=1000&LAYERS=RauDaiNgan_rgba_vari&FORMAT=image/png&TRANSPARENT=TRUE',\n    bounds: imageBounds,\n    opt: { opacity:0.8, attribution:\"&copy; CITLAB-IoT System\" }\n};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":580,"y":200,"wires":[["98c872c8.5f717"]]},{"id":"d139c286.e13e","type":"delay","z":"2f189496.9c3bfc","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":380,"y":200,"wires":[["aa8c295.98257d8"]]},{"id":"b89672c6.55a7e","type":"ui_button","z":"2f189496.9c3bfc","name":"","group":"8b83d6e4.ce7938","order":4,"width":"6","height":"1","passthru":true,"label":"bản đồ","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"date","topic":"","x":150,"y":340,"wires":[["d139c286.e13e","2c7af401.a9c5ec","db826fd6.28103"]]},{"id":"2da3946b.1e75bc","type":"function","z":"76802dd2.e975c4","name":"map layer","func":"var imageBounds = [[33.014550,-115.670046], [33.020125,-115.663899]];\nmsg.payload = { command : { lat:33.014550, lon:-115.670046, zoom:18 } }\nmsg.payload.command.map = {\n    overlay: \"MapIR Example\",\n    url: 'http://citlab.myftp.org:8000/cgi-bin/qgis_mapserv.fcgi?SERVICE=WMS&REQUEST=GetMap&VERSION=1.3.0&SRS=EPSG:4326&BBOX=33.014550,-115.670046,33.020125,-115.663899&MAP=/home/citlab/qgis/test1.qgz&WIDTH=1000&HEIGHT=1000&LAYERS=MapIR_rgba_ndvi_mapir&FORMAT=image/png&TRANSPARENT=TRUE',\n    bounds: imageBounds,\n    opt: { opacity:0.8, attribution:\"&copy; CITLAB-IoT System\" }\n};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":720,"y":300,"wires":[["2b5b4239.816a1e"]]},{"id":"2b5b4239.816a1e","type":"worldmap","z":"76802dd2.e975c4","name":"MapIR","lat":"","lon":"","zoom":"","layer":"Esri Satellite","cluster":"","maxage":"","usermenu":"show","layers":"show","panit":"false","panlock":"false","zoomlock":"false","hiderightclick":"false","coords":"none","showgrid":"false","allowFileDrop":"false","path":"/MapIR","x":970,"y":200,"wires":[]},{"id":"30f19a6c.e1acf6","type":"delay","z":"76802dd2.e975c4","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":560,"y":120,"wires":[["2da3946b.1e75bc"]]},{"id":"3909e846.0d71a8","type":"ui_button","z":"76802dd2.e975c4","name":"","group":"de9cc52b.92bbd8","order":1,"width":"6","height":"1","passthru":false,"label":"Bản đồ","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"date","topic":"","x":280,"y":240,"wires":[["30f19a6c.e1acf6","7f4c4564.62bddc"]]},{"id":"7f7489bb.2d1448","type":"delay","z":"c5f4cf98.537db","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":380,"y":280,"wires":[["c971b470.2c8de8"]]},{"id":"c971b470.2c8de8","type":"function","z":"c5f4cf98.537db","name":"map layer","func":"var imageBounds = [[20.990508,105.484978], [20.99212,105.486876]];\nmsg.payload = { command : { lat:20.990508, lon:105.484978, zoom:18 } }\nmsg.payload.command.map = {\n    overlay: \"Villa\",\n    url: 'http://citlab.myftp.org:8000/cgi-bin/qgis_mapserv.fcgi?SERVICE=WMS&REQUEST=GetMap&VERSION=1.3.0&SRS=EPSG:4326&BBOX=20.990508,105.484978,20.99212,105.486876&MAP=/home/citlab/qgis/test1.qgz&WIDTH=1000&HEIGHT=1000&LAYERS=xanhvillas_rgba_vari&FORMAT=image/png&TRANSPARENT=TRUE',\n    bounds: imageBounds,\n    opt: { opacity:0.8, attribution:\"&copy; CITLAB-IoT System\" }\n};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":640,"y":180,"wires":[["3164f426.24a15c"]]},{"id":"eabe52b9.8baa6","type":"ui_button","z":"c5f4cf98.537db","name":"","group":"ae832f82.427e2","order":1,"width":6,"height":"1","passthru":false,"label":"Bản đồ","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"date","topic":"","x":160,"y":360,"wires":[["7f7489bb.2d1448","6d8529aa.38c648"]]},{"id":"3164f426.24a15c","type":"worldmap","z":"c5f4cf98.537db","name":"Villa","lat":"","lon":"","zoom":"","layer":"Esri Satellite","cluster":"","maxage":"","usermenu":"show","layers":"show","panit":"false","panlock":"false","zoomlock":"false","hiderightclick":"false","coords":"none","showgrid":"false","allowFileDrop":"false","path":"/Villa","x":830,"y":280,"wires":[]},{"id":"49aac220.0e4bdc","type":"inject","z":"47bd8dd6.6516e4","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":320,"y":220,"wires":[["d82a9882.f472d8"]]},{"id":"d82a9882.f472d8","type":"function","z":"47bd8dd6.6516e4","name":"","func":"msg.payload = { \"name\":\"Jason\", \"lat\":20.97052559402639815, \"lon\":105.45404442829773473,\n                \"icon\":\":smile:\"}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":560,"y":160,"wires":[["a9d4ee71.00234"]]},{"id":"a9d4ee71.00234","type":"worldmap","z":"47bd8dd6.6516e4","name":"","lat":"","lon":"","zoom":"","layer":"","cluster":"","maxage":"","usermenu":"show","layers":"show","panit":"false","panlock":"false","zoomlock":"false","hiderightclick":"false","coords":"none","showgrid":"false","allowFileDrop":"false","path":"/worldmap","x":880,"y":260,"wires":[]},{"id":"32f72886.dfd618","type":"function","z":"47bd8dd6.6516e4","name":"","func":"var msg1 = {};\nmsg1.payload = { \"name\":\"Super Man\", \"lat\":msg.payload.lat, \"lon\":msg.payload.lon,\n                \"icon\":\":flying_saucer:\"}\nreturn msg1;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":680,"y":480,"wires":[["a9d4ee71.00234"]]},{"id":"83c02e32.438a8","type":"json","z":"47bd8dd6.6516e4","name":"","property":"payload","action":"","pretty":false,"x":430,"y":520,"wires":[["32f72886.dfd618"]]},{"id":"38afdb13.f85a54","type":"mqtt in","z":"47bd8dd6.6516e4","name":"","topic":"UAV/flying","qos":"2","datatype":"auto","broker":"6b68c026.9c58a","x":300,"y":320,"wires":[["83c02e32.438a8"]]},{"id":"32ebbfe4.77ee5","type":"delay","z":"156cec94.edc4c3","name":"","pauseType":"delay","timeout":"4","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":560,"y":180,"wires":[["e1e01a0c.d44798","2bfbb8ba.5aca48","3314d4fe.a3d50c","a7e0e30f.3c543","9e33a815.f17778"]]},{"id":"eec15cc6.ccddc","type":"ui_template","z":"156cec94.edc4c3","group":"c23bea88.f794b8","name":"","order":1,"width":15,"height":15,"format":"<div ng-bind-html=\"msg.payload | trusted\"></div>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":false,"templateScope":"local","x":900,"y":960,"wires":[[]]},{"id":"5c4bd6f4.9d4118","type":"template","z":"156cec94.edc4c3","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<iframe src=\"../farm\" height=760px width=750px></iframe>","x":560,"y":960,"wires":[["eec15cc6.ccddc"]]},{"id":"fab347a2.cf1e18","type":"ui_template","z":"2f189496.9c3bfc","group":"aa9b8fab.0eaff","name":"","order":1,"width":18,"height":16,"format":"<div ng-bind-html=\"msg.payload | trusted\"></div>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":false,"templateScope":"local","x":780,"y":480,"wires":[[]]},{"id":"2c7af401.a9c5ec","type":"template","z":"2f189496.9c3bfc","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<iframe src=\"../worldmap\" height=800px width=950px></iframe>","x":500,"y":420,"wires":[["fab347a2.cf1e18"]]},{"id":"3ebaf2d4.c3a82e","type":"ui_template","z":"76802dd2.e975c4","group":"b7f7f2b8.16348","name":"","order":1,"width":"18","height":16,"format":"<div ng-bind-html=\"msg.payload | trusted\"></div>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":false,"templateScope":"local","x":800,"y":400,"wires":[[]]},{"id":"7f4c4564.62bddc","type":"template","z":"76802dd2.e975c4","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<iframe src=\"../MapIR\" height=800px width=950px></iframe>","x":560,"y":580,"wires":[["3ebaf2d4.c3a82e"]]},{"id":"6d8529aa.38c648","type":"template","z":"c5f4cf98.537db","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<iframe src=\"../Villa\" height=800px width=950px></iframe>","x":480,"y":520,"wires":[["cec6aaff.43c328"]]},{"id":"cec6aaff.43c328","type":"ui_template","z":"c5f4cf98.537db","group":"7385b1f6.33835","name":"","order":1,"width":"18","height":16,"format":"<div ng-bind-html=\"msg.payload | trusted\"></div>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":false,"templateScope":"local","x":660,"y":420,"wires":[[]]},{"id":"e89d08d8.e23018","type":"debug","z":"a50cd5be.7c9908","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":200,"y":80,"wires":[]},{"id":"342f3bb3.602574","type":"function","z":"2f189496.9c3bfc","name":"map RGB layer","func":"var imageBounds = [[20.97052559402639815,105.45404442829773473], [20.97314297868867072,105.45875820162315506]];\nmsg.payload = { command : { lat:20.97082559402639815, lon:105.45604442829773473, zoom:18 } }\nmsg.payload.command.map = {\n    overlay: \"Vegetable RGB\",\n    url: 'http://citlab.myftp.org:8000/cgi-bin/qgis_mapserv.fcgi?SERVICE=WMS&REQUEST=GetMap&VERSION=1.3.0&SRS=EPSG:4326&BBOX=20.97052559402639815,105.45404442829773473,20.97314297868867072,105.45875820162315506&MAP=/home/citlab/qgis/test1.qgz&WIDTH=1000&HEIGHT=1000&LAYERS=RauDaiNgan_transparent_mosaic_group1&FORMAT=image/png&TRANSPARENT=TRUE',\n    bounds: imageBounds,\n    opt: { opacity:0.8, attribution:\"&copy; CITLAB-IoT System\" }\n};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":660,"y":320,"wires":[["98c872c8.5f717"]]},{"id":"db826fd6.28103","type":"delay","z":"2f189496.9c3bfc","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":440,"y":320,"wires":[["342f3bb3.602574"]]},{"id":"300ef2b7.79808e","type":"inject","z":"d2fbcc62.2d366","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":340,"y":800,"wires":[["22848191.2c502e"]]},{"id":"c79b4d68.1a267","type":"debug","z":"d2fbcc62.2d366","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1030,"y":60,"wires":[]},{"id":"7b8aa0b0.ab4d7","type":"debug","z":"d2fbcc62.2d366","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":750,"y":820,"wires":[]},{"id":"81b42693.63f2a8","type":"function","z":"d2fbcc62.2d366","name":"humidity","func":"var i;\nvar data_10 = new Array();\nfor (i = 0; i <31; i++){\n    data_10[i] = msg.payload[i].Humidity;\n}\n\nvar data_11 = new Array();\nfor (i = 31; i <61; i++){\n    data_11[i-31] = msg.payload[i].Humidity;\n}\n\nmsg1 = {}\nmsg1.payload =[{\n    \"series\": [\"Tháng 10\", \"Tháng 11\" ],\n    \"data\": [data_10, data_11],\n    \"labels\": [\"1\", \"2\", \"3\", \"4\", \"5\", \"6\", \"7\", \"8\", \"9\", \"10\",\n               \"11\", \"12\", \"13\" , \"14\", \"15\", \"16\", \"17\", \"18\", \"19\", \"20\",\n               \"21\", \"22\", \"23\", \"24\", \"25\", \"26\", \"27\", \"28\", \"29\", \"30\", \"31\"]\n}]\n\nreturn msg1;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":540,"y":60,"wires":[["c79b4d68.1a267","24609077.7ac56"]]},{"id":"95b954e8.766ab8","type":"mongodb3 in","z":"d2fbcc62.2d366","service":"_ext_","configNode":"85566e08.1f8c9","name":"","collection":"WeatherStationDay","operation":"find.toArray","x":260,"y":100,"wires":[["81b42693.63f2a8","cdc905d6.86fce8","721a3fe2.50ef6"]]},{"id":"a6a12b54.ba5198","type":"debug","z":"a50cd5be.7c9908","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":400,"y":140,"wires":[]},{"id":"24609077.7ac56","type":"ui_chart","z":"d2fbcc62.2d366","name":"","group":"49320dbb.12f234","order":1,"width":"6","height":4,"label":"Độ ẩm","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":true,"ymin":"0","ymax":"100","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"x":1270,"y":260,"wires":[[]]},{"id":"5d4bacc.6bc5e54","type":"ui_button","z":"d2fbcc62.2d366","name":"","group":"a531c31a.c0f06","order":7,"width":"3","height":1,"passthru":false,"label":"Dữ liệu theo ngày","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":90,"y":200,"wires":[["95b954e8.766ab8","60cb3070.224a8"]]},{"id":"cd6dbe9c.7264a","type":"ui_button","z":"d2fbcc62.2d366","name":"","group":"a531c31a.c0f06","order":8,"width":"3","height":1,"passthru":false,"label":"Dữ liệu theo tuần","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":110,"y":820,"wires":[["22848191.2c502e","9eaa147e.63a5c8"]]},{"id":"22848191.2c502e","type":"mongodb3 in","z":"d2fbcc62.2d366","service":"_ext_","configNode":"85566e08.1f8c9","name":"","collection":"WeatherStationWeek","operation":"find.toArray","x":410,"y":920,"wires":[["b8534b4a.6859c8","6de02e78.6753f","8fcb347e.52d618"]]},{"id":"b8534b4a.6859c8","type":"function","z":"d2fbcc62.2d366","name":"humidity_w","func":"//var i;\n//var data_10 = new Array();\n//for (i = 0; i <5; i++){\n//    data_10[i] = msg.payload[i].Temperature;\n//}\n\n//var data_11 = new Array();\n//for (i = 5; i <9; i++){\n//    data_11[i-5] = msg.payload[i].Temperature;\n//}\n\nmsg1 = {}\nmsg1.payload =[{\n    \"series\": [\"Tháng 10\", \"Tháng 11\" ],\n    \"data\": [[57, 53, 50, 58], [54, 60, 57, 53]],\n    \"labels\": [\"1\", \"2\", \"3\", \"4\"]\n}]\n\nreturn msg1;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":770,"y":740,"wires":[["7b8aa0b0.ab4d7","24609077.7ac56"]]},{"id":"121806bd.3e3ef9","type":"mqtt in","z":"47bd8dd6.6516e4","name":"","topic":"UAV/Battery","qos":"2","datatype":"auto","broker":"6b68c026.9c58a","x":130,"y":600,"wires":[["e26ab48b.06cee8"]]},{"id":"e26ab48b.06cee8","type":"json","z":"47bd8dd6.6516e4","name":"","property":"payload","action":"","pretty":false,"x":360,"y":600,"wires":[["e077a620.2a6078"]]},{"id":"e077a620.2a6078","type":"function","z":"47bd8dd6.6516e4","name":"","func":"var msg1 = {};\n\nmsg1.payload=(msg.payload.battery*100).toFixed(2) + \"%\";\n\nreturn msg1;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":590,"y":600,"wires":[["ac8733fd.86f5d"]]},{"id":"4328f083.289d4","type":"mqtt in","z":"47bd8dd6.6516e4","name":"","topic":"UAV/Position","qos":"2","datatype":"auto","broker":"6b68c026.9c58a","x":132,"y":841,"wires":[["450514f.1a5c4ec"]]},{"id":"450514f.1a5c4ec","type":"json","z":"47bd8dd6.6516e4","name":"","property":"payload","action":"","pretty":false,"x":352,"y":841,"wires":[["e994a15d.eeb1b","5fcc32eb.03398c","ee348735.1f2248"]]},{"id":"e994a15d.eeb1b","type":"function","z":"47bd8dd6.6516e4","name":"","func":"var msg1 = {};\n\nmsg1.payload=msg.payload.Pitch;\n\nreturn msg1;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":592,"y":841,"wires":[["d79e123a.6f01c"]]},{"id":"5e1a9568.5e0cbc","type":"mqtt in","z":"47bd8dd6.6516e4","name":"","topic":"UAV/GPS","qos":"2","datatype":"auto","broker":"6b68c026.9c58a","x":120,"y":720,"wires":[["e6b7774.bbc5b88"]]},{"id":"e6b7774.bbc5b88","type":"json","z":"47bd8dd6.6516e4","name":"","property":"payload","action":"","pretty":false,"x":360,"y":720,"wires":[["4b53e436.f9084c"]]},{"id":"4b53e436.f9084c","type":"function","z":"47bd8dd6.6516e4","name":"","func":"var msg1 = {};\n\nmsg1.payload=msg.payload.gps;\n\nreturn msg1;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":590,"y":720,"wires":[["663a0b70.6250d4"]]},{"id":"c3ba890d.40b6f8","type":"mqtt in","z":"47bd8dd6.6516e4","name":"","topic":"UAV/In-Air","qos":"2","datatype":"auto","broker":"6b68c026.9c58a","x":100,"y":1140,"wires":[["2f47b150.2de8ae"]]},{"id":"2f47b150.2de8ae","type":"json","z":"47bd8dd6.6516e4","name":"","property":"payload","action":"","pretty":false,"x":350,"y":1160,"wires":[["7d591523.cb5d0c"]]},{"id":"7d591523.cb5d0c","type":"function","z":"47bd8dd6.6516e4","name":"","func":"var msg1 = {};\n\nif (msg.payload.inAir == \"False\"){\n    msg1.payload = \"Không hoạt động\";\n}\nelse {\n    msg1.payload = \"Đang hoạt động\";\n}\n\nreturn msg1;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":620,"y":1160,"wires":[["4f19e5fe.2c2eac"]]},{"id":"ac8733fd.86f5d","type":"ui_text","z":"47bd8dd6.6516e4","group":"378c47cb.fab618","order":1,"width":0,"height":0,"name":"battery","label":"Thông số Pin","format":"{{msg.payload}}","layout":"row-spread","x":830,"y":600,"wires":[]},{"id":"663a0b70.6250d4","type":"ui_text","z":"47bd8dd6.6516e4","group":"378c47cb.fab618","order":2,"width":0,"height":0,"name":"GPS","label":"GPS","format":"{{msg.payload}}","layout":"row-spread","x":830,"y":720,"wires":[]},{"id":"d79e123a.6f01c","type":"ui_text","z":"47bd8dd6.6516e4","group":"378c47cb.fab618","order":4,"width":8,"height":"1","name":"pitch","label":"Pitch","format":"{{msg.payload}}","layout":"row-spread","x":830,"y":840,"wires":[]},{"id":"4f19e5fe.2c2eac","type":"ui_text","z":"47bd8dd6.6516e4","group":"378c47cb.fab618","order":7,"width":0,"height":0,"name":"In Air","label":"Trạng thái","format":"{{msg.payload}}","layout":"row-spread","x":890,"y":1180,"wires":[]},{"id":"112c0134.cb4ddf","type":"ui_chart","z":"d2fbcc62.2d366","name":"","group":"35b6fe68.9007e2","order":3,"width":"6","height":4,"label":"Vận tốc gió trung bình","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"20","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"x":1260,"y":420,"wires":[[]]},{"id":"cdc905d6.86fce8","type":"function","z":"d2fbcc62.2d366","name":"wind speed","func":"var i;\nvar data_10 = new Array();\nfor (i = 0; i <31; i++){\n    data_10[i] = msg.payload[i].WindSpeedAverage;\n}\n\nvar data_11 = new Array();\nfor (i = 31; i <61; i++){\n    data_11[i-31] = msg.payload[i].WindSpeedAverage;\n}\n\nmsg1 = {}\nmsg1.payload =[{\n    \"series\": [\"Tháng 10\", \"Tháng 11\" ],\n    \"data\": [data_10, data_11],\n    \"labels\": [\"1\", \"2\", \"3\", \"4\", \"5\", \"6\", \"7\", \"8\", \"9\", \"10\",\n               \"11\", \"12\", \"13\" , \"14\", \"15\", \"16\", \"17\", \"18\", \"19\", \"20\",\n               \"21\", \"22\", \"23\", \"24\", \"25\", \"26\", \"27\", \"28\", \"29\", \"30\", \"31\"]\n}]\n\nreturn msg1;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":570,"y":160,"wires":[["112c0134.cb4ddf"]]},{"id":"6de02e78.6753f","type":"function","z":"d2fbcc62.2d366","name":"wind speed w","func":"//var i;\n//var data_10 = new Array();\n//for (i = 0; i <5; i++){\n//    data_10[i] = msg.payload[i].Temperature;\n//}\n\n//var data_11 = new Array();\n//for (i = 5; i <9; i++){\n//    data_11[i-5] = msg.payload[i].Temperature;\n//}\n\nmsg1 = {}\nmsg1.payload =[{\n    \"series\": [\"Tháng 10\", \"Tháng 11\" ],\n    \"data\": [[3, 2, 3, 1], [1, 2, 5, 1]],\n    \"labels\": [\"1\", \"2\", \"3\", \"4\"]\n}]\n\nreturn msg1;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":840,"y":920,"wires":[["112c0134.cb4ddf"]]},{"id":"8fa1ea85.109f68","type":"mqtt in","z":"a50cd5be.7c9908","name":"","topic":"sensor/mushroom/001","qos":"2","datatype":"auto","broker":"6b68c026.9c58a","x":140,"y":1440,"wires":[["3a5c2329.5ddc9c"]]},{"id":"3a5c2329.5ddc9c","type":"json","z":"a50cd5be.7c9908","name":"","property":"payload","action":"","pretty":false,"x":350,"y":1540,"wires":[["34efe59c.ed1e3a"]]},{"id":"34efe59c.ed1e3a","type":"function","z":"a50cd5be.7c9908","name":"humidity","func":"var msg1 = {};\n\nmsg1.payload=msg.payload.h + \"%\";\nmsg1.topic = 'Humidity';\n\nreturn msg1;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":620,"y":1480,"wires":[["878a6530.ba5b58"]]},{"id":"878a6530.ba5b58","type":"ui_text","z":"a50cd5be.7c9908","group":"416195d1.8f432c","order":1,"width":0,"height":0,"name":"","label":"Độ ẩm đất","format":"{{msg.payload}}","layout":"row-spread","x":950,"y":1440,"wires":[]},{"id":"2bfbb8ba.5aca48","type":"ui_template","z":"156cec94.edc4c3","group":"1d19d781.32d898","name":"","order":4,"width":7,"height":1,"format":"<!DOCTYPE html>\n<html>\n<body>\n<h3>Thông tin cơ bản</h3>\n</body>\n</html>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":false,"templateScope":"local","x":1040,"y":160,"wires":[[]]},{"id":"e2d37aab.9f3568","type":"ui_chart","z":"a50cd5be.7c9908","name":"","group":"6fc8e898.b32988","order":9,"width":7,"height":4,"label":"Nhiệt độ độ ẩm","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":true,"ymin":"0","ymax":"100","removeOlder":1,"removeOlderPoints":"15","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"x":1020,"y":380,"wires":[[]]},{"id":"8546b622.490d88","type":"function","z":"a50cd5be.7c9908","name":"","func":"var msg2 = {};\n\nmsg2.payload=msg.payload.t;\nmsg2.topic = 'Temperature';\n\nreturn msg2;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":720,"y":420,"wires":[["e2d37aab.9f3568"]]},{"id":"20196eda.566092","type":"function","z":"a50cd5be.7c9908","name":"","func":"var msg1 = {};\n\nmsg1.payload=msg.payload.h;\nmsg1.topic = 'Humidity';\n\nreturn msg1;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":740,"y":460,"wires":[["e2d37aab.9f3568"]]},{"id":"ca63c780.9a4638","type":"ui_chart","z":"a50cd5be.7c9908","name":"","group":"728062e6.d14fbc","order":9,"width":"6","height":4,"label":"Thành phần không khí (ppm)","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":true,"ymin":"0","ymax":"1","removeOlder":1,"removeOlderPoints":"15","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"x":1000,"y":1060,"wires":[[]]},{"id":"df83bce1.b7843","type":"function","z":"a50cd5be.7c9908","name":"","func":"var msg2 = {};\nvar ran = Math.floor(Math.random() * 100);\nmsg2.payload=(((parseFloat(msg.payload.CO)+ ran)/1000).toFixed(2)).toString();\nmsg2.topic = 'CO';\n\nreturn msg2;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":660,"y":1040,"wires":[["ca63c780.9a4638","5d1d6ae2.d150a4"]]},{"id":"977cf216.29497","type":"function","z":"a50cd5be.7c9908","name":"","func":"var msg1 = {};\nvar ran = Math.floor(Math.random() * 100);\nmsg1.payload=(((parseFloat(msg.payload.NH3) + ran)/10000).toFixed(2)).toString();\nmsg1.topic = 'NH3';\n\nreturn msg1;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":660,"y":1120,"wires":[["ca63c780.9a4638"]]},{"id":"436f749f.f75b4c","type":"function","z":"a50cd5be.7c9908","name":"","func":"var msg3 = {};\nvar ran = Math.floor(Math.random() * 100);\nmsg3.payload=(((parseFloat(msg.payload.NO2)+ ran)/1000).toFixed(2)).toString();\nmsg3.topic = 'NO2';\n\nreturn msg3;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":660,"y":1180,"wires":[["ca63c780.9a4638"]]},{"id":"5d1d6ae2.d150a4","type":"debug","z":"a50cd5be.7c9908","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":880,"y":960,"wires":[]},{"id":"1bd6620e.9a574e","type":"function","z":"a50cd5be.7c9908","name":"","func":"var msg1 = {};\n\nif (msg.payload.h < 60) {\n  msg1.payload = \"\\{\\\"status\\\" : \\\"p1\\\"\\}\" ;\n}\n\nelse {\n    msg1.payload = \"\\{\\\"status\\\" : \\\"p0\\\"\\}\" ;\n}\nreturn msg1;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":400,"y":500,"wires":[["16eacedd.f03991","f01c4d0a.a35b1"]]},{"id":"16eacedd.f03991","type":"mqtt out","z":"a50cd5be.7c9908","name":"","topic":"garden1/pump1","qos":"2","retain":"","broker":"6b68c026.9c58a","x":1000,"y":560,"wires":[]},{"id":"f01c4d0a.a35b1","type":"debug","z":"a50cd5be.7c9908","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":490,"y":600,"wires":[]},{"id":"88a004e6.a078f8","type":"ui_switch","z":"a50cd5be.7c9908","name":"","label":"switch","tooltip":"","group":"","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"{\"status\" : \"p1\"}","onvalueType":"json","onicon":"","oncolor":"","offvalue":"{\"status\" : \"p0\"}","offvalueType":"json","officon":"","offcolor":"","x":760,"y":620,"wires":[["16eacedd.f03991"]]},{"id":"587bde03.09a53","type":"function","z":"d2fbcc62.2d366","name":"light","func":"var i;\nvar data_10 = new Array();\nfor (i = 0; i <31; i++){\n    data_10[i] = msg.payload[i].Vis;\n}\n\nvar data_11 = new Array();\nfor (i = 31; i <61; i++){\n    data_11[i-31] = msg.payload[i].Vis;\n}\n\nmsg1 = {}\nmsg1.payload =[{\n    \"series\": [\"Tháng 10\", \"Tháng 11\" ],\n    \"data\": [data_10, data_11],\n    \"labels\": [\"1\", \"2\", \"3\", \"4\", \"5\", \"6\", \"7\", \"8\", \"9\", \"10\",\n               \"11\", \"12\", \"13\" , \"14\", \"15\", \"16\", \"17\", \"18\", \"19\", \"20\",\n               \"21\", \"22\", \"23\", \"24\", \"25\", \"26\", \"27\", \"28\", \"29\", \"30\", \"31\"]\n}]\n\nreturn msg1;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":530,"y":440,"wires":[["e0f893e2.32ae"]]},{"id":"60cb3070.224a8","type":"mongodb3 in","z":"d2fbcc62.2d366","service":"_ext_","configNode":"85566e08.1f8c9","name":"","collection":"Air-Light-Day","operation":"find.toArray","x":240,"y":440,"wires":[["587bde03.09a53"]]},{"id":"e0f893e2.32ae","type":"ui_chart","z":"d2fbcc62.2d366","name":"","group":"d9dfd652.720028","order":5,"width":"6","height":4,"label":"Ánh sáng","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"x":720,"y":400,"wires":[[]]},{"id":"9eaa147e.63a5c8","type":"mongodb3 in","z":"d2fbcc62.2d366","service":"_ext_","configNode":"85566e08.1f8c9","name":"","collection":"Air-Light-Week","operation":"find.toArray","x":310,"y":580,"wires":[["e6d7aa7a.c1de58"]]},{"id":"e6d7aa7a.c1de58","type":"function","z":"d2fbcc62.2d366","name":"light","func":"//var i;\n//var data_10 = new Array();\n//for (i = 0; i <5; i++){\n//    data_10[i] = msg.payload[i].Temperature;\n//}\n\n//var data_11 = new Array();\n//for (i = 5; i <9; i++){\n//    data_11[i-5] = msg.payload[i].Temperature;\n//}\n\nmsg1 = {}\nmsg1.payload =[{\n    \"series\": [\"Tháng 10\", \"Tháng 11\" ],\n    \"data\": [[350, 700, 630, 600], [750, 700, 600, 650]],\n    \"labels\": [\"1\", \"2\", \"3\", \"4\"]\n}]\n\nreturn msg1;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":570,"y":560,"wires":[["e0f893e2.32ae"]]},{"id":"5fcc32eb.03398c","type":"function","z":"47bd8dd6.6516e4","name":"","func":"var msg1 = {};\n\nmsg1.payload=msg.payload.Yall;\n\nreturn msg1;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":600,"y":920,"wires":[["4bce0dc2.22f114"]]},{"id":"4bce0dc2.22f114","type":"ui_text","z":"47bd8dd6.6516e4","group":"378c47cb.fab618","order":5,"width":8,"height":"1","name":"yall","label":"Yall","format":"{{msg.payload}}","layout":"row-spread","x":830,"y":920,"wires":[]},{"id":"ee348735.1f2248","type":"function","z":"47bd8dd6.6516e4","name":"","func":"var msg1 = {};\n\nmsg1.payload=msg.payload.Roll;\n\nreturn msg1;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":600,"y":1000,"wires":[["23d56b25.635b94"]]},{"id":"23d56b25.635b94","type":"ui_text","z":"47bd8dd6.6516e4","group":"378c47cb.fab618","order":6,"width":8,"height":"1","name":"roll","label":"Roll","format":"{{msg.payload}}","layout":"row-spread","x":830,"y":1000,"wires":[]},{"id":"e13d6ea.a2ed69","type":"ui_text","z":"47bd8dd6.6516e4","group":"378c47cb.fab618","order":3,"width":0,"height":0,"name":"imu","label":"Thông tin IMU","format":"{{msg.payload}}","layout":"row-spread","x":730,"y":780,"wires":[]},{"id":"7b11d0d1.405f3","type":"function","z":"156cec94.edc4c3","name":"Map 2","func":"var imageBounds = [[20.97052559402639815,105.45404442829773473], [20.97314297868867072,105.45875820162315506]];\nmsg.payload = { command : { lat:20.97082559402639815, lon:105.45604442829773473, zoom:18 } }\nmsg.payload.command.map = {\n    overlay: \"Vegetable\",\n    url: 'http://citlab.myftp.org:8000/cgi-bin/qgis_mapserv.fcgi?SERVICE=WMS&REQUEST=GetMap&VERSION=1.3.0&SRS=EPSG:4326&BBOX=20.97052559402639815,105.45404442829773473,20.97314297868867072,105.45875820162315506&MAP=/home/citlab/qgis/test1.qgz&WIDTH=1000&HEIGHT=1000&LAYERS=RauDaiNgan_rgba_vari&FORMAT=image/png&TRANSPARENT=TRUE',\n    bounds: imageBounds,\n    opt: { opacity:0.8, attribution:\"&copy; CITLAB-IoT System\" }\n};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":630,"y":400,"wires":[["5e76e483.5ee77c"]]},{"id":"7522580a.26da68","type":"ui_button","z":"156cec94.edc4c3","name":"","group":"1d19d781.32d898","order":2,"width":7,"height":1,"passthru":false,"label":"Bản đồ tháng 11","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"date","topic":"","x":140,"y":500,"wires":[["21964ceb.c85684","5c4bd6f4.9d4118","9f6f8ed3.4e66b","bdf1631c.82efe","63a7bf9e.210c","985d4946.7ca8f8","9591b8dd.40d5f8","a43a5d40.fd877"]]},{"id":"21964ceb.c85684","type":"delay","z":"156cec94.edc4c3","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":480,"y":400,"wires":[["7b11d0d1.405f3"]]},{"id":"cf4a4c43.ab26c","type":"function","z":"156cec94.edc4c3","name":"Map 3","func":"var imageBounds = [[33.014550,-115.670046], [33.020125,-115.663899]];\nmsg.payload = { command : { lat:33.014550, lon:-115.670046, zoom:18 } }\nmsg.payload.command.map = {\n    overlay: \"MapIR Example\",\n    url: 'http://citlab.myftp.org:8000/cgi-bin/qgis_mapserv.fcgi?SERVICE=WMS&REQUEST=GetMap&VERSION=1.3.0&SRS=EPSG:4326&BBOX=33.014550,-115.670046,33.020125,-115.663899&MAP=/home/citlab/qgis/test1.qgz&WIDTH=1000&HEIGHT=1000&LAYERS=MapIR_rgba_ndvi_mapir&FORMAT=image/png&TRANSPARENT=TRUE',\n    bounds: imageBounds,\n    opt: { opacity:0.8, attribution:\"&copy; CITLAB-IoT System\" }\n};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":830,"y":700,"wires":[["5e76e483.5ee77c"]]},{"id":"9d2f69fb.687d38","type":"ui_button","z":"156cec94.edc4c3","name":"","group":"1d19d781.32d898","order":3,"width":7,"height":1,"passthru":false,"label":"Bản đồ tháng 12","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"date","topic":"","x":140,"y":760,"wires":[["864cd617.92d388","5c4bd6f4.9d4118","9f6f8ed3.4e66b","39b13be5.9ad564","f7878c88.9d222","8f2f4bc0.340428","ccd64f69.3092","a43a5d40.fd877"]]},{"id":"864cd617.92d388","type":"delay","z":"156cec94.edc4c3","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":560,"y":720,"wires":[["cf4a4c43.ab26c"]]},{"id":"a7e0e30f.3c543","type":"ui_template","z":"156cec94.edc4c3","group":"4beb4154.32191","name":"farm 3","order":9,"width":0,"height":0,"format":"<!DOCTYPE html>\n<html>\n<body>\n<h3>Ruộng 3:</h3>\n</body>\n</html>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":false,"templateScope":"local","x":1030,"y":680,"wires":[[]]},{"id":"3314d4fe.a3d50c","type":"ui_template","z":"156cec94.edc4c3","group":"4beb4154.32191","name":"farm 1","order":1,"width":0,"height":0,"format":"<!DOCTYPE html>\n<html>\n<body>\n<h3>Ruộng 1:</h3>\n</body>\n</html>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":false,"templateScope":"local","x":1030,"y":340,"wires":[[]]},{"id":"9e33a815.f17778","type":"ui_template","z":"156cec94.edc4c3","group":"4beb4154.32191","name":"farm 2","order":5,"width":0,"height":0,"format":"<!DOCTYPE html>\n<html>\n<body>\n<h3>Ruộng 2:</h3>\n</body>\n</html>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":false,"templateScope":"local","x":1030,"y":520,"wires":[[]]},{"id":"4ded3ca5.6edfb4","type":"ui_text","z":"156cec94.edc4c3","group":"1d19d781.32d898","order":7,"width":0,"height":0,"name":"day","label":"Ngày khảo sát: ","format":"{{msg.payload}}","layout":"row-left","x":1030,"y":200,"wires":[]},{"id":"accfc0ac.8f137","type":"function","z":"156cec94.edc4c3","name":"day 1","func":"msg.payload = \"15/10/2020\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":570,"y":220,"wires":[["4ded3ca5.6edfb4"]]},{"id":"9f6f8ed3.4e66b","type":"function","z":"156cec94.edc4c3","name":"location","func":"msg.payload = \"Nam Sách, Hải Dương\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":540,"y":40,"wires":[["dff5e082.f4598"]]},{"id":"dff5e082.f4598","type":"ui_text","z":"156cec94.edc4c3","group":"1d19d781.32d898","order":5,"width":0,"height":0,"name":"locaction","label":"Địa điểm khảo sát:","format":"{{msg.payload}}","layout":"row-left","x":1020,"y":240,"wires":[]},{"id":"bdf1631c.82efe","type":"function","z":"156cec94.edc4c3","name":"day 2","func":"msg.payload = \"15/11/2020\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":570,"y":460,"wires":[["4ded3ca5.6edfb4"]]},{"id":"39b13be5.9ad564","type":"function","z":"156cec94.edc4c3","name":"day 3","func":"msg.payload = \"15/12/2020\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":550,"y":760,"wires":[["4ded3ca5.6edfb4"]]},{"id":"2b16a406.41c3ac","type":"function","z":"156cec94.edc4c3","name":"NVDI 1","func":"msg.payload = \"0.83\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":580,"y":260,"wires":[["4f0f5fee.33467"]]},{"id":"393db42b.58c3ec","type":"function","z":"156cec94.edc4c3","name":"NX 1","func":"msg.payload = \"Phát triển rất tốt\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":570,"y":300,"wires":[["2be0b09b.c538"]]},{"id":"f1a02e54.ce9ab","type":"function","z":"156cec94.edc4c3","name":"KN 1","func":"msg.payload = \"Có thể thu hoạch\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":570,"y":340,"wires":[["c2c0edfe.4b6fc"]]},{"id":"4f0f5fee.33467","type":"ui_text","z":"156cec94.edc4c3","group":"4beb4154.32191","order":2,"width":0,"height":0,"name":"NVDI 1","label":"NVDI trung bình:","format":"{{msg.payload}}","layout":"row-left","x":1040,"y":380,"wires":[]},{"id":"2be0b09b.c538","type":"ui_text","z":"156cec94.edc4c3","group":"4beb4154.32191","order":3,"width":0,"height":0,"name":"NX 1","label":"Nhận xét: ","format":"{{msg.payload}}","layout":"row-left","x":1030,"y":420,"wires":[]},{"id":"c2c0edfe.4b6fc","type":"ui_text","z":"156cec94.edc4c3","group":"4beb4154.32191","order":4,"width":0,"height":0,"name":"KN 1","label":"Khuyến nghị: ","format":"{{msg.payload}}","layout":"row-left","x":1030,"y":460,"wires":[]},{"id":"63a7bf9e.210c","type":"function","z":"156cec94.edc4c3","name":"NVDI 2","func":"msg.payload = \"-0.83\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":580,"y":500,"wires":[["68abe6cb.657738"]]},{"id":"985d4946.7ca8f8","type":"function","z":"156cec94.edc4c3","name":"NX 2","func":"msg.payload = \"Vùng không trồng cây\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":570,"y":540,"wires":[["dadada4f.e71ad8"]]},{"id":"9591b8dd.40d5f8","type":"function","z":"156cec94.edc4c3","name":"KN 2","func":"msg.payload = \"Không có\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":570,"y":580,"wires":[["1484f74e.d6a089"]]},{"id":"68abe6cb.657738","type":"ui_text","z":"156cec94.edc4c3","group":"4beb4154.32191","order":7,"width":0,"height":0,"name":"NVDI 2","label":"NVDI trung bình:","format":"{{msg.payload}}","layout":"row-left","x":1040,"y":560,"wires":[]},{"id":"dadada4f.e71ad8","type":"ui_text","z":"156cec94.edc4c3","group":"4beb4154.32191","order":6,"width":0,"height":0,"name":"NX 2","label":"Nhận xét: ","format":"{{msg.payload}}","layout":"row-left","x":1030,"y":600,"wires":[]},{"id":"1484f74e.d6a089","type":"ui_text","z":"156cec94.edc4c3","group":"4beb4154.32191","order":8,"width":0,"height":0,"name":"KN 2","label":"Khuyến nghị: ","format":"{{msg.payload}}","layout":"row-left","x":1030,"y":640,"wires":[]},{"id":"f7878c88.9d222","type":"function","z":"156cec94.edc4c3","name":"NVDI 3","func":"msg.payload = \"0.1\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":560,"y":800,"wires":[["e1e40744.5860a8"]]},{"id":"8f2f4bc0.340428","type":"function","z":"156cec94.edc4c3","name":"NX 3","func":"msg.payload = \"Vùng khô hạn\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":550,"y":840,"wires":[["97cbeb76.5ba008"]]},{"id":"ccd64f69.3092","type":"function","z":"156cec94.edc4c3","name":"KN 3","func":"msg.payload = \"Cần tưới nước\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":550,"y":880,"wires":[["e8f2fd3d.d1617"]]},{"id":"e1e40744.5860a8","type":"ui_text","z":"156cec94.edc4c3","group":"4beb4154.32191","order":10,"width":0,"height":0,"name":"NVDI 3","label":"NVDI trung bình:","format":"{{msg.payload}}","layout":"row-left","x":1020,"y":720,"wires":[]},{"id":"97cbeb76.5ba008","type":"ui_text","z":"156cec94.edc4c3","group":"4beb4154.32191","order":11,"width":0,"height":0,"name":"NX 3","label":"Nhận xét: ","format":"{{msg.payload}}","layout":"row-left","x":1010,"y":760,"wires":[]},{"id":"e8f2fd3d.d1617","type":"ui_text","z":"156cec94.edc4c3","group":"4beb4154.32191","order":12,"width":0,"height":0,"name":"KN 3","label":"Khuyến nghị: ","format":"{{msg.payload}}","layout":"row-left","x":1010,"y":800,"wires":[]},{"id":"a43a5d40.fd877","type":"function","z":"156cec94.edc4c3","name":"Size","func":"msg.payload = \"1.2 ha\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":550,"y":100,"wires":[["d099099e.2cf948"]]},{"id":"d099099e.2cf948","type":"ui_text","z":"156cec94.edc4c3","group":"1d19d781.32d898","order":6,"width":0,"height":0,"name":"Size","label":"Size:","format":"{{msg.payload}}","layout":"row-left","x":1010,"y":280,"wires":[]},{"id":"721a3fe2.50ef6","type":"function","z":"d2fbcc62.2d366","name":"temperature","func":"var i;\nvar data_10 = new Array();\nfor (i = 0; i <31; i++){\n    data_10[i] = msg.payload[i].Temperature;\n}\n\nvar data_11 = new Array();\nfor (i = 31; i <61; i++){\n    data_11[i-31] = msg.payload[i].Temperature;\n}\n\nmsg1 = {}\nmsg1.payload =[{\n    \"series\": [\"Tháng 10\", \"Tháng 11\" ],\n    \"data\": [data_10, data_11],\n    \"labels\": [\"1\", \"2\", \"3\", \"4\", \"5\", \"6\", \"7\", \"8\", \"9\", \"10\",\n               \"11\", \"12\", \"13\" , \"14\", \"15\", \"16\", \"17\", \"18\", \"19\", \"20\",\n               \"21\", \"22\", \"23\", \"24\", \"25\", \"26\", \"27\", \"28\", \"29\", \"30\", \"31\"]\n}]\n\nreturn msg1;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":550,"y":280,"wires":[["f1b97c27.98463"]]},{"id":"f1b97c27.98463","type":"ui_chart","z":"d2fbcc62.2d366","name":"","group":"49320dbb.12f234","order":3,"width":0,"height":0,"label":"Nhiệt độ","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":true,"ymin":"0","ymax":"100","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"x":1030,"y":280,"wires":[[]]},{"id":"8fcb347e.52d618","type":"function","z":"d2fbcc62.2d366","name":"temperature_w","func":"msg1 = {}\nmsg1.payload =[{\n    \"series\": [\"Tháng 10\", \"Tháng 11\" ],\n    \"data\": [[20, 23, 25, 21], [24, 26, 30, 27]],\n    \"labels\": [\"1\", \"2\", \"3\", \"4\"]\n}]\n\nreturn msg1;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":480,"y":680,"wires":[["f1b97c27.98463"]]}]