Node-RED/mongodbconnect.json
[{"id":"d2fbcc62.2d366","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"516de477.125b8c","type":"mongodb","z":"","hostname":"127.0.0.1","topology":"direct","connectOptions":"","port":"27017","db":"","name":""},{"id":"2e197e9e.a91e32","type":"mongodb","z":"","hostname":"127.0.0.1","topology":"direct","connectOptions":"","port":"27017","db":"LoRaNetwork","name":""},{"id":"85566e08.1f8c9","type":"mongodb3","z":"","uri":"mongodb://127.0.0.1:27017/LoRaNetwork","name":"test","options":"","parallelism":"-1"},{"id":"300ef2b7.79808e","type":"inject","z":"d2fbcc62.2d366","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":220,"y":200,"wires":[["95b954e8.766ab8"]]},{"id":"95b954e8.766ab8","type":"mongodb3 in","z":"d2fbcc62.2d366","service":"_ext_","configNode":"85566e08.1f8c9","name":"","collection":"WeatherStation","operation":"find.toArray","x":450,"y":280,"wires":[["7b8aa0b0.ab4d7","81b42693.63f2a8"]]},{"id":"c79b4d68.1a267","type":"debug","z":"d2fbcc62.2d366","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":890,"y":280,"wires":[]},{"id":"7b8aa0b0.ab4d7","type":"debug","z":"d2fbcc62.2d366","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":870,"y":380,"wires":[]},{"id":"81b42693.63f2a8","type":"function","z":"d2fbcc62.2d366","name":"","func":"msg1 = {}\nmsg1.payload = msg.payload[0].WindDirection;\nreturn msg1;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":780,"y":140,"wires":[["c79b4d68.1a267"]]}]